@import url(http://fonts.googleapis.com/css?family=Hind:400,300,600,500,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500italic,500,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic);

/* House Repair skin for the theme
------------------------------------------------------------------------- */

/* Theme Accent Color
------------------------------------------------------------------------- */
a:hover,
.theme_accent,
.topTabsWrap .speedBar a:hover,
.topWrap .topMenuStyleLine > ul > li ul li a:hover,
.infoPost a:hover,
.tabsButton ul li a:hover,
.widgetWrap  ul  li:before,
.widget_popular_posts article h3:before,
.widgetTabs .widget_popular_posts article .post_info .post_date a:hover,
.sidebar .widget_popular_posts article .post_info .post_date a:hover,
.sidebar .widget_recent_posts article .post_info .post_date a:hover,
.main .widgetWrap a:hover,
.main .widgetWrap a:hover span,
.widgetWrap a:hover span,
.roundButton:hover a,
input[type="submit"]:hover,
input[type="button"]:hover,
.roundButton.border > a,
.nav_pages_parts > a:hover,
.nav_comments > a:hover,
.comments_list a.comment-edit-link:hover,
.widget_area ul.tabs > li.squareButtonlite.ui-state-active > a,
#sc_calendar tbody td a,
#sc_calendar tbody td.today a:hover,
.sc_calendar tbody td a,
.sc_calendar tbody td.today a:hover,
blockquote cite,
blockquote cite a,
.sc_quote_title,
.sc_quote_title a,
.postLink a,
.masonry article .masonryInfo a:hover,
.masonry article .masonryInfo span.infoTags a:hover,
.relatedPostWrap article .relatedInfo a:hover,
.relatedPostWrap article .relatedInfo span.infoTags a:hover,
.infoPost span.infoTags a:hover,
.page404 p a,
.page404 .searchAnimation.sFocus .searchIcon,
.sc_team .sc_team_item .sc_team_item_position,
.copyWrap a,
.comments .commBody li.commItem .replyWrap .posted a:hover,
.comments .commBody li.commItem h4 a:hover,
.ratingItem span:before,
.reviewBlock .totalRating,
.widget_area .contactInfo .fContact:before,
.widget_area .widgetWrap a:hover,
.widget_area .widgetWrap a:hover span,
.widget_area .widgetWrap ul > li > a:hover,
.widget_area .widgetWrap ul > li > a:hover span,
.footerStyleLight .widget_area article .post_title:before,
.footerStyleLight .widget_area article .post_info a:hover,
.footerStyleLight .widget_area article .post_info .post_date a:hover,
.sc_list_style_arrows li:before,
.sc_list_style_arrows li a:hover,
.sc_list_style_iconed li a:hover,
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title,
.sc_accordion.sc_accordion_style_2 .sc_accordion_item.sc_active .sc_accordion_title,
.sc_accordion.sc_accordion_style_3 .sc_accordion_item.sc_active .sc_accordion_title,
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title,
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title:before,
.sc_toggles.sc_toggles_style_2 .sc_toggles_item.sc_active .sc_toggles_title,
.sc_toggles.sc_toggles_style_2 .sc_toggles_item.sc_active .sc_toggles_title:before,
.sc_toggles.sc_toggles_style_3 .sc_toggles_item.sc_active .sc_toggles_title,
.sc_tabs .sc_tabs_titles li a:hover,
.sc_dropcaps.sc_dropcaps_style_3 .sc_dropcap,
.sc_dropcaps.sc_dropcaps_style_4 .sc_dropcap,
.sc_dropcaps.sc_dropcaps_style_5 .sc_dropcap,
.sc_dropcaps.sc_dropcaps_style_6 .sc_dropcap,
.sc_highlight.sc_highlight_style_2,
.sc_tooltip_parent,
.sc_title_icon_animated:hover .sc_title_icon.sc_bg_animated:hover:before,
a > .sc_title_icon.sc_bg_animated:hover:before,
.sc_scroll_controls .flex-direction-nav a:hover:before,
.sc_testimonials_style_1 .flex-direction-nav a:hover:before,
.sc_testimonials_style_3 .flex-direction-nav a:hover:before,
.sc_testimonials_style_3 .flex-direction-nav a:active:before,
.pagination .pageLibrary > li.libPage > .pageFocusBlock .flex-direction-nav a:hover:before,
.topWrap .usermenu_area ul.usermenu_list li.usermenu_currency > a:hover,
.topWrap .usermenu_area ul.usermenu_list li.usermenu_currency > a,
.topWrap .usermenu_area ul.usermenu_list li.usermenu_currency.sfHover > a,
.topWrap .usermenu_area ul.usermenu_list li ul li a:hover,
.topWrap .usermenu_area ul.usermenu_list li.usermenu_cart .widget_area ul li a:hover,
.sidemenu_wrap .usermenu_area ul.usermenu_list li.usermenu_currency > a:hover,
.sidemenu_wrap .usermenu_area ul.usermenu_list li.usermenu_currency > a,
.sidemenu_wrap .usermenu_area ul.usermenu_list li.usermenu_currency.sfHover > a,
.sidemenu_wrap .usermenu_area ul.usermenu_list li ul li a:hover,
.sidemenu_wrap .usermenu_area ul.usermenu_list li.usermenu_cart .widget_area ul li a:hover,
.sc_blogger a:hover,
.sc_blogger.style_date .load_more:before,
.sc_blogger.style_date .sc_blogger_item .sc_blogger_date .day_month,
.sc_blogger.style_date .sc_blogger_item .sc_blogger_info .comments_number,
.sc_blogger.style_accordion .sc_blogger_info .comments_number,
.widgetTabs .widgetTop ul > li:not(.tabs):before,
.widgetTabs .widgetTop ul > li:not(.tabs) > a:hover,
.widgetTabs .widgetTop ul > li:not(.tabs) > a:hover span,
.widgetTabs .widgetTop.widget_popular_posts article .post_title:before,
.swpRightPos .tabsMenuBody a:hover,
.swpRightPos .tabsMenuBody a:hover:before,
.openRightMenu:hover:before,
.topWrap .search:not(.searchOpen):hover:before,
.user-popUp .formItems.loginFormBody .remember .forgotPwd,
.user-popUp .formItems.loginFormBody .loginProblem,
.user-popUp .formItems.registerFormBody .i-agree a,
.sc_slider_pagination_area .flex-control-nav.manual .slide_info .slide_title,
h1 > a, h2 > a, h4 > a, h5 > a, h6 > a,
.h1 > a, .h2 > a, .h4 > a, .h5 > a, .h6 > a,
.relatedPostWrap article .relatedInfo a,
.sc_list_style_iconed li:before,
.sc_list_style_arrows li:before,
.sc_team .sc_team_item .sc_team_item_title,
.sc_team .sc_team_item .sc_team_item_title a,
.footerStyleLight .footerWidget .widgetWrap .title,
#sc_calendar thead th span,
.sc_calendar thead th span,
#footerStyleLight .footerWidget .sc_calendar thead th,
.footerStyleLight .footerWidget .sc_calendar thead th,
#sc_calendar thead tr th,
.sc_calendar thead tr + tr th,
.page404 .h2,
.usermenu_area .sidemenu_button i,
.relatedPostWrap article .relatedInfo .separator,
.relatedPostWrap article .relatedInfo span.infoTags a,
.openResponsiveMenu:hover,
.sidemenu_wrap .sidemenu_area ul li ul li ul li a:hover,
.sidebar > .widget > ul > li a:hover,
.booking_weekdays_custom,
.woocommerce div.product span.price, .woocommerce div.product p.price, .woocommerce #content div.product span.price, .woocommerce #content div.product p.price, .woocommerce-page div.product span.price, .woocommerce-page div.product p.price, .woocommerce-page #content div.product span.price, .woocommerce-page #content div.product p.price,
.topWrap .usermenu_area .phone_number,
.portfolioWrap .isotopeFiltr ul a:hover,
.portfolioWrap .isotopeFiltr ul .active a,
.masonryWrap .isotopeFiltr ul a:hover,
.masonryWrap .isotopeFiltr ul .active a,
h4 > a:hover,
.portfolio .isotopeElement .folioShowBlock .folioContentAfter h4 a:hover,
ul > li.share > ul.shareDrop > li > a:hover,
.footerStyleDark .footerWidget #sc_calendar thead th,
.footerStyleDark .footerWidget .sc_calendar thead th,
.woocommerce ul.products li.product.product-category h3, .woocommerce-page ul.products li.product.product-category h3,
.openResponsiveMenu:after
{ color: #f8b40e; }


.topWrap .topMenuStyleLine > ul > li.highlight > a:hover {
	color: #0d0d0d;
}

.woocommerce-page .footerStyleDark ul.product_list_widget li > .amount,
.woocommerce .footerStyleDark ul.product_list_widget li > .amount,
.woocommerce ul.products li.product.product-category h3:hover,
.woocommerce-page ul.products li.product.product-category h3:hover,
.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {
	color: #e77420 !important;
}

.sc_team .sc_team_item .sc_team_item_title a:hover
{ color:#59524c ; }

.booking_month_container_all .booking_month_name,
.booking_month_container_all .booking_month_year
{ color:#59524c  !important; }

.darkgrey_section {background-color: #59524c; color: #fff;}

.content .booking_month_navigation_button_custom:hover,
.content .booking_month_navigation_button_custom,
.content .booking_month_container_custom {
	background-color: #fff !important;
}

.hoverIncrease .hoverIcon
{color: #d9d9cc;}

.sidemenu_wrap .sidemenu_close,
.sidemenu_wrap .sidemenu_area > ul > li > a
{color: #f1f1f1;}

#booking_slot_form > div > a:hover,
a:hover > .sc_title_iconed,
.topWrap .topMenuStyleLine > ul > li ul li a:hover,
.footerStyleDark .widget_area a.button:hover,
.flip-clock-wrapper ul li a div div.inn,
.tabsButton ul li.ui-tabs-active a,
.themerex_message_info,
.themerex_message_info .themerex_message_close,
.themerex_message_info .themerex_message_icon,
.themerex_message_info .themerex_message_header,
.woocommerce div.product span.price, .woocommerce div.product p.price, .woocommerce #content div.product span.price, .woocommerce #content div.product p.price, .woocommerce-page div.product span.price, .woocommerce-page div.product p.price, .woocommerce-page #content div.product span.price, .woocommerce-page #content div.product p.price,
.booking_name_days_container .booking_day_name
{ color: #f8b40e !important; }

.topWrap .topMenuStyleLine > ul > li.highlight > a:hover:after,
.footerStyleDark .footerWidget #sc_calendar tbody td.today,
.footerStyleDark .footerWidget .sc_calendar tbody td.today, #toc .toc_item
{ background-color: #f8b40e; }


.theme_accent_bgc,
.sc_video_player:active .sc_video_play_button:after,
input[type="submit"]:active,
input[type="button"]:active,
.nav_pages_parts > span.page_num,
.nav_comments > span.current,
ul > li.likeActive:active > a,
.sc_table.sc_table_style_1 table tr:first-child th,
.sc_table.sc_table_style_1 table tr:first-child td,
.masonry article .status,
.post .postStatus,
.sc_team .sc_team_item .sc_team_item_avatar:after,
.itemPageFull .itemDescriptionWrap .toggleButton:active,
.footerWrap .footerWidget .sc_video_player:active .sc_video_play_button:after,
.topMenuStyleLine > ul .menu-panel,
.userFooterSection.global,
.sliderLogo .elastislide-wrapper nav span:active:before,
.sc_skills_counter .sc_skills_item.sc_skills_style_3 .sc_skills_count,
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_count,
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info,
.sc_dropcaps.sc_dropcaps_style_1 .sc_dropcap,
.sc_dropcaps.sc_dropcaps_style_2 .sc_dropcap,
.sc_tooltip_parent .sc_tooltip,
.sc_tooltip_parent .sc_tooltip:before,
.sc_title_bg:not(.sc_bg_animated):before,
.sc_accordion.sc_accordion_style_3 .sc_accordion_item .sc_accordion_title,
.sc_toggles.sc_toggles_style_3 .sc_toggles_item .sc_toggles_title,
.sc_scroll_controls .flex-direction-nav a:active,
.sc_testimonials_style_1 .flex-direction-nav a:active,
.sc_testimonials_style_3 .sc_testimonials_items,
.sc_testimonials_style_3 .flex-direction-nav li,
.sc_testimonials_style_3 .flex-direction-nav a,
.pagination .pageLibrary > li.libPage > .pageFocusBlock .flex-direction-nav a:active,
.sc_popup_light:before,
.user-popUp ul.loginHeadTab li.ui-tabs-active:before,
.sc_banner:before,
.global_bg,
.widget_area .tagcloud a:hover,
.widget_area .tagcloud a:active,
.sc_scroll_bar .swiper-scrollbar-drag:before,
.widgetTabs .widgetTop .tagcloud a:hover,
.widgetTabs .widgetTop .tagcloud a:active,
#custom_options .co_options #co_bg_images_list a.current,
#custom_options .co_options #co_bg_pattern_list a.current,
.fullScreenSlider.globalColor .sliderHomeBullets .rsContent:before,
.fullScreenSlider .sliderHomeBullets .rsContent .slide-3 .order p span,
ul.sc_list_style_disk li:before,
.sc_slider_pagination_area .flex-control-nav.manual .slide_date,
.sc_tabs.sc_tabs_style_2 .sc_tabs_titles li.ui-state-active a,
.sc_contact_form_custom .bubble label:hover,
.sc_contact_form_custom .bubble label.selected,
.sc_video_player:hover .sc_video_play_button:after,
.footerStyleLight .footerWidget .sc_video_player:hover .sc_video_play_button:after,
.sliderHomeBullets.slider_alias_13 .textPrice,
.sliderHomeBullets.slider_alias_13 .slide-2 .textPrice,
.squareButton > a:after,
.squareButton.active > span,
.squareButton.active > a,
.squareButton.ui-state-active > a,
.roundButton > a:active,
.squareButton > a:active,
.squareButton.global > a,
.squareButton.dark > a:active:after,
.roundButton.border:hover > a,
.sc_pricing_table .sc_pricing_columns .sc_pricing_title,
.sc_pricing_table .sc_pricing_columns:hover ul li.sc_pricing_title,
.sc_highlight.sc_highlight_style_1,
.sc_pricing_table .sc_pricing_columns ul:hover,
.sc_accordion .sc_accordion_item.sc_active .sc_accordion_title:before,
.days_container_all .booking_day_container:hover .booking_day_slots,
.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button,
.woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt,
.ih-item.square.effect6 .info .link-wrapper:hover,
.masonry article .thumb .link-wrapper a:hover,
.sliderHomeBullets.slider_alias_13 .order a,
#toc .toc_description, #toc .toc_item.current, #toc .toc_item:hover,
.color_bg1
{ background-color: #f1c458; }

.sc_testimonials_style_2 .sc_testimonials_items,
.sc_testimonials_style_2,
.sc_testimonials_style_2 .flex-direction-nav li,
#booking_container,
.sc_pricing_table .sc_pricing_columns ul,
.grey_section { background-color: #f1f1f1; }

#booking_container textarea,
#booking_calendar_select > select,
	.booking_day_container a { background-color: #f1f1f1 !important; }


.woocommerce input#submit:hover,
.woocommerce input#submit:active,
.woocommerce .button:hover,
.woocommerce .button:active,
#booking_submit_button,
.booking_book_now_custom,
.booking_book_now_custom:hover,
.booking_ok_button,
.booking_ok_button:hover,
.themerex_message_dialog .themerex_message_button:hover,
.post-password-form input[type="submit"]:hover,
.sliderHomeBullets.slider_alias_13 .order2 a:hover
{ background-color: #f1c458 !important; }

.sc_table.sc_table_style_1 table tr:first-child th,
.sc_table.sc_table_style_1 table tr:first-child td {
	border-top-color: #f1c458;
}
#toc .toc_description::after,
.sc_table.sc_table_style_1 table tr:first-child th:first-child,
.sc_table.sc_table_style_1 table tr:first-child td:first-child {
	border-left-color: #f1c458;
}
.sc_table.sc_table_style_1 table tr:first-child th:last-child,
.sc_table.sc_table_style_1 table tr:first-child td:last-child {
	border-right-color: #f1c458;
}


.theme_accent_bg,
.ih-item.circle.effect1.colored .info,
.ih-item.circle.effect2.colored .info,
.ih-item.circle.effect3.colored .info,
.ih-item.circle.effect4.colored .info,
.ih-item.circle.effect5.colored .info .info-back,
.ih-item.circle.effect6.colored .info,
.ih-item.circle.effect7.colored .info,
.ih-item.circle.effect8.colored .info,
.ih-item.circle.effect9.colored .info,
.ih-item.circle.effect10.colored .info,
.ih-item.circle.effect11.colored .info,
.ih-item.circle.effect12.colored .info,
.ih-item.circle.effect13.colored .info,
.ih-item.circle.effect14.colored .info,
.ih-item.circle.effect15.colored .info,
.ih-item.circle.effect16.colored .info,
.ih-item.circle.effect18.colored .info .info-back,
.ih-item.circle.effect19.colored .info,
.ih-item.circle.effect20.colored .info .info-back,
.ih-item.square.effect1.colored .info,
.ih-item.square.effect2.colored .info,
.ih-item.square.effect3.colored .info,
.ih-item.square.effect4.colored .mask1,
.ih-item.square.effect4.colored .mask2,
.ih-item.square.effect5.colored .info,
.ih-item.square.effect6.colored .info,
.ih-item.square.effect7.colored .info,
.ih-item.square.effect8.colored .info,
.ih-item.square.effect9.colored .info .info-back,
.ih-item.square.effect10.colored .info,
.ih-item.square.effect11.colored .info,
.ih-item.square.effect12.colored .info,
.ih-item.square.effect13.colored .info,
.ih-item.square.effect14.colored .info,
.ih-item.square.effect15.colored .info {
	background: none repeat scroll 0 0 #ffffff;
	background-color: rgba(255,255,255,0.8);
	margin: 20px;
}

.ih-item.circle.effect1.colored .info,
.ih-item.circle.effect2.colored .info,
.ih-item.circle.effect5.colored .info .info-back,
.ih-item.circle.effect19.colored .info,
.ih-item.circle.effect20.colored .info .info-back,
.ih-item.square.effect4.colored .mask1,
.ih-item.square.effect4.colored .mask2,
.ih-item.square.effect7.colored .info,
.ih-item.square.effect12.colored .info,
.ih-item.square.effect13.colored .info,
.sc_image_shape_round:hover figcaption,
.post .sc_image_shape_round:hover figcaption { background: rgba(241,196,88,0.6);}

.ih-item.circle.effect17.colored a:hover .img:before {
	box-shadow: inset 0 0 0 110px #F1C458, inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 0 0 110px rgba(241,196,88, 0.6), inset 0 0 0 16px rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.ih-item.circle.effect1 .spinner {
	border-right-color: #f1c458;
	border-bottom-color: #f1c458;
}

.mejs-embed, .mejs-embed body, .mejs-container .mejs-controls { background:#f1c458 !important; }
.mejs-controls .mejs-volume-button .mejs-volume-slider { background: rgba(241,196,88,0.7) !important; }

.top_panel_above .fullScreenSlider .topWrap,
.top_panel_above .fullScreenSlider .topWrap .topMenuStyleLine > ul > li ul,
.top_panel_above .fullScreenSlider .topWrap .topMenuStyleLine > ul > li .menu-panel {}

.sc_slider_flex .sc_slider_info,
.sc_slider_swiper .sc_slider_info,
.sc_slider_flex .flex-direction-nav li,
.sc_slider_swiper .flex-direction-nav li { background-color: rgba(241,196,88,0.8) !important; }

.theme_accent_border,
.postSharing > ul > li > a:active,
.postSharing > ul > li > span:active,
.roundButton > a:active,
.roundButton.border > a,
.nav_pages_parts > span.page_num,
.nav_comments > span.current,
#sc_calendar thead tr th,
.sc_calendar thead tr + tr th,
.sc_skills_bar .sc_skills_item .sc_skills_count,
.itemPageFull .itemDescriptionWrap .toggleButton:active,
.footerWidget .sc_video_player:active .sc_video_play_button:after,
.topMenuStyleLine > ul#mainmenu ul.menu-panel,
.sc_scroll_controls .flex-direction-nav a:active,
.sc_testimonials_style_1 .flex-direction-nav a:active,
.pagination .flex-direction-nav a:active,
.sliderLogo .elastislide-wrapper nav span:active:before,
.sc_dropcaps.sc_dropcaps_style_4 .sc_dropcap,
.sc_dropcaps.sc_dropcaps_style_5 .sc_dropcap,
.sc_dropcaps.sc_dropcaps_style_6 .sc_dropcap,
.sc_accordion.sc_accordion_style_3 .sc_accordion_item,
.sc_toggles.sc_toggles_style_3 .sc_toggles_item,
.sc_tooltip_parent,
pre.code,
.widget_area .tagcloud a:hover,
.widget_area .tagcloud a:active,
.sc_accordion .sc_accordion_item.sc_active .sc_accordion_title:before,
.sc_accordion.sc_accordion_style_3 .sc_accordion_item.sc_active .sc_accordion_title:before,
.pagination .squareButton a:hover,
.pagination .squareButton a:active,
.pagination .squareButton span
{ border-color:#f1c458; }

.sidemenu_wrap .sidemenu_area > ul > li + li {
	border-color: #f1f1f1;
}

::selection { color: #fff; background-color: #f1c458;}
::-moz-selection { color: #fff; background-color: #f1c458;}


/* WooCommerce colors */
.woocommerce input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page #content input.button:hover,
.woocommerce .quantity input[type="button"]:hover, .woocommerce #content input[type="button"]:hover, .woocommerce-page .quantity input[type="button"]:hover, .woocommerce-page #content .quantity input[type="button"]:hover,
.woocommerce a:hover h3, .woocommerce-page a:hover h3,
.woocommerce .cart-collaterals .order-total strong, .woocommerce-page .cart-collaterals .order-total strong,
.woocommerce .star-rating, .woocommerce-page .star-rating, .woocommerce .star-rating:before, .woocommerce-page .star-rating:before,
.widget_area .widgetWrap ul > li .star-rating span, .woocommerce #review_form #respond .stars a, .woocommerce-page #review_form #respond .stars a
{
	color: #f8b40e;
}
.woocommerce .checkout #order_review .order-total .amount, .woocommerce-page .checkout #order_review .order-total .amount,
.woocommerce ul.cart_list li > .amount, .woocommerce ul.product_list_widget li > .amount, .woocommerce-page ul.cart_list li > .amount, .woocommerce-page ul.product_list_widget li > .amount,
.woocommerce ul.cart_list li span .amount, .woocommerce ul.product_list_widget li span .amount, .woocommerce-page ul.cart_list li span .amount, .woocommerce-page ul.product_list_widget li span .amount,
.woocommerce ul.cart_list li ins .amount, .woocommerce ul.product_list_widget li ins .amount, .woocommerce-page ul.cart_list li ins .amount, .woocommerce-page ul.product_list_widget li ins .amount,
.woocommerce.widget_shopping_cart .total .amount, .woocommerce .widget_shopping_cart .total .amount, .woocommerce-page.widget_shopping_cart .total .amount, .woocommerce-page .widget_shopping_cart .total .amount
{
	color: #e77420;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range
{
	background-color: #f1c458;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle
{
	background: #f1c458;
}

.woocommerce .woocommerce-message, .woocommerce-page .woocommerce-message,
.woocommerce a.button.alt:active, .woocommerce button.button.alt:active, .woocommerce input.button.alt:active, .woocommerce #respond input#submit.alt:active, .woocommerce #content input.button.alt:active, .woocommerce-page a.button.alt:active, .woocommerce-page button.button.alt:active, .woocommerce-page input.button.alt:active, .woocommerce-page #respond input#submit.alt:active, .woocommerce-page #content input.button.alt:active,
.woocommerce a.button:active, .woocommerce button.button:active, .woocommerce input.button:active, .woocommerce #respond input#submit:active, .woocommerce #content input.button:active, .woocommerce-page a.button:active, .woocommerce-page button.button:active, .woocommerce-page input.button:active, .woocommerce-page #respond input#submit:active, .woocommerce-page #content input.button:active
{
	border-top-color: #f1c458;
}

.twitBlock .sc_slider .flex-direction-nav li {background-color: #60aaea !important; }

/* Theme Accent2 Color */
.theme_accent2,
.sc_team .sc_team_item .sc_team_item_position,
h3 > a, .h3 > a,
.sc_blogger h3 > a, .sc_blogger .h3 > a,
.openRightMenu:hover:before,
.topWrap .search:not(.searchOpen):hover:before,
.sliderHomeBullets.slider_alias_15 .order a:hover,
.sc_blogger.style_date .sc_blogger_item .sc_blogger_info .post_author,
.sc_blogger.style_date .sc_blogger_item .sc_blogger_info .comments_number,
#sc_calendar tbody td.today,
 #sc_calendar tbody td.today a,
 .sc_calendar tbody td.today,
.sc_calendar tbody td.today a
{ color: #f8b40e; }

.topWrap .topMenuStyleLine > ul > li ul li a:hover .menu_item_description { color:#ababab !important; }

.theme_accent2_bgc,
.sc_title_divider.theme_accent2 .sc_title_divider_before,
.sc_title_divider.theme_accent2 .sc_title_divider_after,
.sliderHomeBullets.slider_alias_15 .order a,
.dark .sc_slider_pagination_area .flex-control-nav.manual li.active .slide_date,
.dark .sc_slider_pagination_area .flex-control-nav.manual li.cs-active-pagination .slide_date,
.dark .sc_slider_pagination_area .flex-control-nav.manual li:hover .slide_date,
.sc_blogger.style_date .sc_blogger_item .sc_blogger_date,
.sc_video_player .sc_video_play_button:after,
.footerStyleLight .footerWidget .sc_video_player .sc_video_play_button:after,
.twitBlock,
.twitBlockWrap,
.sliderHomeBullets.slider_alias_13 .order a:hover,
.sc_skills_bar .sc_skills_item .sc_skills_count
{ background-color: #f1c458; }

.twitBlock .sc_slider .flex-direction-nav li
{ background-color: #f1c458 !important; }

.theme_accent2_bg { background: #f1c458; }

.theme_accent2_border,
.topWrap .topMenuStyleLine > ul > li ul,
.sliderHomeBullets.slider_alias_13 .order a:hover { border-color:#ffffff; }

.topWrap .openRightMenu:hover,
.topWrap .search:not(.searchOpen):hover { border-color:transparent; }

/* Tribe Events */
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"], .tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a, #tribe_events_filters_wrapper input[type="submit"], .tribe-events-button, #tribe-events .tribe-events-button, .tribe-events-button.tribe-inactive, #tribe-events .tribe-events-button:hover, .tribe-events-button:hover, .tribe-events-button.tribe-active:hover {
	background-color: #f1c458;
}

#tribe-bar-form .tribe-bar-submit input[type="submit"] { background: #f1c458; }

.portfolio .isotopeElement .folioShowBlock:before {background-color: #312d2a;}

/* Other skin settings
------------------------------------------------------------------------- */


/* Fonts */
a .sc_title_iconed,
.sidebar > .widget,
.topWrap .topMenuStyleLine > ul > li > a,
.topWrap .topMenuStyleLine > ul > li ul,
textarea,
.portfolioWrap .isotopeFiltr ul a,
.sc_team .sc_team_item .sc_team_item_title,
.sliderHomeBullets.slider_alias_13 .textBlock .title,
body {font-family: 'Hind';}
textarea { color:#191d1e; }
.logo_text {font-family: 'Rufina'; font-weight:700; }
.h1, .h2 { letter-spacing: 1px; text-transform: uppercase;}
h1, .h1 { font-size:70px; line-height:82px; font-weight:600; }
h2, .h2 { font-size:44px; line-height:60px; font-weight:500;}
h3, .h3 { font-size:20px; line-height:36px; text-transform: uppercase; }
h4, .h4 { font-size:19px; line-height:24px; padding-bottom: 10px;}
h5, .h5 { font-size:18px; line-height:20px;}
h6, .h6 { font-size:16px; line-height:18px;}

h4 > a {color: #000000;}

b, strong { font-weight:700; }

#toc .toc_description,
.sidemenu_wrap .sidemenu_area ul li ul li ul li a,
.sidemenu_wrap .sidemenu_area > ul > li > a,
.openResponsiveMenu,
.h1, .h2 { font-family: 'Hind', serif; }



.footerWidget .widgetWrap .title { font-family: 'Muli'; }

/* User menu */
.usermenu_area { background-color: #211e1b; }
.topWrap .usermenu_area { color: #e8e8e8; }
.topWrap .usermenu_area a { color: #e8e8e8; }

/* Top area */
.topWrap .logo { font-size:36px; }
.logo .logo_text { line-height:45px; }
header.fixedTopMenu .topWrap .logo .logo_text { line-height:21px; }
.logo .logo_slogan {
	font-size:8px;
	font-weight: 700;
	letter-spacing: 11px;
	line-height:22px;
	text-align: center;
	text-transform: uppercase;
}
.sidemenu_wrap .logo img { }
header.fixedTopMenu .topWrap .logo { }
header.fixedTopMenu .topWrap .logo img {margin-top: 5px;}

.topTabsWrap { background: #f1f1f1; border-bottom-width: 0; }
.tabsButton ul li.ui-state-default:hover a:before, .tabsButton ul li.ui-tabs-active { border-color: transparent; }
.tabsButton ul li, .tabsButton ul li a:before { border-radius:0; }
.tabsButton ul li:hover a { color: #9b9b9b; }

.openRightMenu,
.topWrap .search { border-width: 1px; border-color:transparent; }
.topWrap .search.searchOpen { border-color:#b4b4b4; }
.top_panel_above .fullScreenSlider .noFixMenu .topWrap .search.searchOpen {border-color: #FFFFFF;}
.openRightMenu:before,
.topWrap .search:before { color:#151515; }
.topWrap .search:before { content: '\e808'; }

/* Main menu */
.topWrap .topMenuStyleLine > ul > li > a > span {display: none;}
.topWrap .topMenuStyleLine > ul li.current-menu-item > a,
.topWrap .topMenuStyleLine ul > li.current-menu-parent > a,
.topWrap .topMenuStyleLine > ul > li.current-menu-ancestor > a {color: #e77420;}
.topWrap .topMenuStyleLine > ul > li > a:hover {color: #f8b40e;}
.topWrap .topMenuStyleLine > ul > li.highlight > a {
	border: 1px solid #f8b40e;
	color: #f8b40e;
	margin-left: 10px;
	padding: 0 16px;
}
.top_panel_above .fullScreenSlider header:not(.fixedTopMenu) .topWrap .topMenuStyleLine > ul > li:not(.highlight) > a:hover {color: #ffffff;}
/* Blog
------------------------------------------------------------------- */
.relatedPostWrap article .relatedInfo { font-style: normal; }
.relatedPostWrap article h4 {font: 400 28px/35px 'Hind', serif;}

/* Footer
------------------------------------------------------------------- */
.footerWrap.footerStyleLight { background:#f9f9f9 url(../../images/bg/texture_11.png) repeat; border:none; }

.contactFooterWrap.footerStyleLight { background:#373737;  }
.contactFooter .logo img { height: 62px; }

ul li a.social_icons.icon-facebook:hover, ul li a.social_icons.icon-facebook {background-color: #3b5998;}
ul li a.social_icons.icon-twitter:hover, ul li a.social_icons.icon-twitter {background-color: #1ab2e8;}
ul li a.social_icons.icon-gplus:hover, ul li a.social_icons.icon-gplus {background-color: #d43e33;}
ul li a.social_icons.icon-linkedin:hover, ul li a.social_icons.icon-linkedin {background-color: #FF9900;}
ul li a.social_icons.icon-dribbble:hover, ul li a.social_icons.icon-dribbble {background-color: #e04c86;}
ul li a.social_icons.icon-pinterest:hover, ul li a.social_icons.icon-pinterest {background-color: #c60703;}
ul li a.social_icons.icon-tumblr:hover, ul li a.social_icons.icon-tumblr {background-color: #41546C;}
ul li a.social_icons.icon-behance:hover, ul li a.social_icons.icon-behance {background-color: #4176FA;}
ul li a.social_icons.icon-youtube-play:hover, ul li a.social_icons.icon-youtube-play {background-color: #d8271d;}
ul li a.social_icons.icon-vimeo:hover, ul li a.social_icons.icon-vimeo {background-color: #41B2DC;}
ul li a.social_icons.icon-rss:hover, ul li a.social_icons.icon-rss {background-color: #FF9900;}
ul li a.social_icons.icon-flickr:hover, ul li a.social_icons.icon-flickr {background-color: #0062DD;}

ul li a.share-item {background-color: transparent !important;}
ul li a.share-item.icon-facebook:hover {color: #3b5998 !important;}
ul li a.share-item.icon-twitter:hover {color: #1ab2e8 !important;}
ul li a.share-item.icon-gplus:hover {color: #d43e33 !important;}
ul li a.share-item.icon-linkedin:hover {color: #FF9900 !important;}
ul li a.share-item.icon-dribbble:hover {color: #e04c86 !important;}
ul li a.share-item.icon-pinterest:hover {color: #c60703 !important;}
ul li a.share-item.icon-tumblr:hover {color: #41546C !important;}
ul li a.share-item.icon-behance:hover {color: #4176FA !important;}
ul li a.share-item.icon-youtube-play:hover {color: #d8271d !important;}
ul li a.share-item.icon-vimeo:hover {color: #41B2DC !important;}
ul li a.share-item.icon-rss:hover {color: #FF9900 !important;}
ul li a.share-item.icon-flickr:hover {color: #0062DD !important;}

.widget_socials .socPage ul,
.copyWrap .socPage,
.copyWrap .socPage ul {  height: 24px; }
.copyWrap .socPage { padding-top: 4px; }

.footerStyleLight .footerWidget #sc_calendar tbody td.today, .footerStyleLight .footerWidget #sc_calendar tbody td.today a,
.footerStyleLight .footerWidget .sc_calendar tbody td.today, .footerStyleLight .footerWidget .sc_calendar tbody td.today a { background-color:transparent; }
.footerStyleDark .footerWidget .widgetWrap .title { color: #ffffff; }

.copyWrap { color: #818175; font-size: 14px;}
.copyWrap a { color: #f8b40e; }
.copyWrap a:hover { color: #242420; }


/* Shortcodes
------------------------------------------------------------------- */
/* Accordion and Toggles */
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title,
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title { background: none; }

/* Blogger */
.sc_blogger h4 {
	font: 600 24px/33px 'Hind';
}
.sc_blogger.style_date .sc_blogger_item .sc_blogger_date { border-width:0; }
.sc_blogger.style_date .sc_blogger_item .sc_blogger_date .day_month { color: #ffffff !important; font-weight:400; }
.sc_blogger.style_date .sc_blogger_item .sc_blogger_date .year { color: #ffffff; font-weight:400; }
.sc_blogger.style_date .sc_blogger_item .sc_blogger_title { font-family: 'Hind', sans-serif; font-weight:400; font-size: 1em; color: #191d1e;  }
.sc_blogger.style_date .sc_blogger_item .sc_blogger_title a { color: #191d1e;  }
.sc_blogger.style_date .sc_blogger_item .sc_blogger_info { font-style:normal; }

/* Team */
.sc_team .sc_team_item .sc_team_item_position { color: #96968c; }
.sc_team .sc_team_item .sc_team_item_info {
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	    -ms-transition: all 0.4s ease-in-out;
	     -o-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;
}
.sc_team .sc_team_item:hover .sc_team_item_info { padding-bottom:7px; }
.sc_team .sc_team_item:hover .sc_team_item_avatar { margin-top:-34px; }
.sc_team .sc_team_item .sc_team_item_position { font-weight:400; }
.sc_team .sc_team_item .sc_team_item_avatar:after {background-color: #373737;}
/* Slider */
.dark .sc_slider_pagination_area .flex-control-nav.manual .slide_info .slide_title { font-family: 'Hind', sans-serif; font-weight:400; color: #ffffff; }
.dark .sc_slider_pagination_area .flex-control-nav.manual li + li .slide_pager { border-color: rgba(255,255,255,0.3); }
.dark .sc_slider_pagination_area .flex-control-nav.manual li.active,
.dark .sc_slider_pagination_area .flex-control-nav.manual li.cs-active-pagination,
.dark .sc_slider_pagination_area .flex-control-nav.manual li:hover { background-color:transparent; }
.dark .sc_scroll_vertical .sc_scroll_bar { border-color: rgba(255,255,255,0.3); }

/* Video */
.sc_video_player .sc_video_play_button:after,
.sc_video_player:hover .sc_video_play_button:after,
.footerStyleLight .footerWidget .sc_video_player .sc_video_play_button:after,
.footerStyleLight .footerWidget .sc_video_player:hover .sc_video_play_button:after { color: #ffffff; }

/* Title with huge icon*/
.sc_title_icon.sc_title_top.sc_size_huge + h5 {margin-top: 40px;}

/* Icon and text section */
.hover_red .sc_section .sc_title_icon:before,
.hover_red .sc_section .sc_title {
	color: #b9b9aa;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.hover_red .sc_section:hover .sc_title_icon:before {color: #f8b40e;}
.hover_red .sc_section .sc_title {
	border-bottom: 1px solid transparent;
	display: inline-block;
	margin-top: 21px !important;
	padding-bottom: 7px;
	position: relative;
}
.hover_red .sc_section:hover .sc_title {border-bottom-color: #f1c458;}
/* Disable round corners
------------------------------------------------------------------- */
.rad4,
.postSharing > ul > li,
.postSharing > ul > li > a,
.postSharing > ul > li > span,
.mejs-container .mejs-controls,
.mejs-container .mejs-controls .mejs-time-rail span,
.mejs-container .mejs-controls .mejs-horizontal-volume-slider > div,
.pagination > ul > li > a,
.pagination .pageLibrary li.libPage .navInput,
.pagination .pageLibrary > li.libPage > .pageFocusBlock,
input[type="submit"],
input[type="button"],
.squareButton > span,
.squareButton > a,
.nav_pages_parts span,
.nav_comments a,
.nav_comments span,
.comments_list a.comment-edit-link,
.topWrap .search .ajaxSearchResults,
input[type="text"],
input[type="password"],
textarea,
.sc_infobox,
.sc_tabs_style_1 .sc_tabs_content + .sc_tabs_content,
.masonry article .status,
.sc_skills_bar .sc_skills_item,
.sc_skills_bar .sc_skills_item .sc_skills_count,
.reviewBlock .infoTotal,
.upToScroll,
.sc_skills_counter .sc_skills_item.sc_skills_style_3 .sc_skills_count,
.sc_testimonials_style_1 .sc_testimonials_item_quote,
.sc_testimonials_style_2 .sc_testimonials_items,
.sc_testimonials_style_3 .sc_testimonials_items,
.sc_testimonials_style_2 .flex-direction-nav li,
.sc_testimonials_style_3 .flex-direction-nav li,
.sc_scroll_bar .swiper-scrollbar-drag:before,
.sc_tabs_style_2 .sc_tabs_titles li a,
.sc_slider_pagination_area .flex-control-nav.manual .slide_date,
.user-popUp .formItems .formList li .sendEnter,
.user-popUp .formItems .formList .loginSoc .iconLogin,
.widget_area .tagcloud a,
.widgetTabs .widgetTop .tagcloud a,
#toc .toc_description
{ -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}

.postSharing > ul > li.share > a.selected,
.postSharing > ul > li.share > span.selected,
.sc_accordion.sc_accordion_style_3 .sc_accordion_item:first-child .sc_accordion_title,
.sc_accordion.sc_accordion_style_3 .sc_accordion_item:first-child,
.sc_toggles.sc_toggles_style_1 .sc_toggles_item:first-child .sc_toggles_title,
.sc_toggles.sc_toggles_style_1 .sc_toggles_item:first-child,
.sc_toggles.sc_toggles_style_3 .sc_toggles_item:first-child .sc_toggles_title,
.sc_toggles.sc_toggles_style_3 .sc_toggles_item:first-child,
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_count
/*radius4 top left*/{-moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border-top-left-radius: 0;}
.postSharing > ul > li.share > a.selected,
.postSharing > ul > li.share > span.selected,
.postSharing > ul > li.share > ul.shareDrop,
.sc_accordion.sc_accordion_style_3 .sc_accordion_item:first-child .sc_accordion_title,
.sc_accordion.sc_accordion_style_3 .sc_accordion_item:first-child,
.sc_toggles.sc_toggles_style_1 .sc_toggles_item:first-child .sc_toggles_title,
.sc_toggles.sc_toggles_style_1 .sc_toggles_item:first-child,
.sc_toggles.sc_toggles_style_3 .sc_toggles_item:first-child .sc_toggles_title,
.sc_toggles.sc_toggles_style_3 .sc_toggles_item:first-child,
.sc_tabs_style_1 .sc_tabs_content,
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_count
/*radius4 top right*/{-moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0;}
.postSharing > ul > li.share > ul.shareDrop,
.sc_accordion.sc_accordion_style_3 .sc_accordion_item:last-child .sc_accordion_title,
.sc_accordion.sc_accordion_style_3 .sc_accordion_item:last-child .sc_accordion_content,
.sc_accordion.sc_accordion_style_3 .sc_accordion_item:last-child,
.sc_toggles.sc_toggles_style_1 .sc_toggles_item:last-child .sc_toggles_title,
.sc_toggles.sc_toggles_style_1 .sc_toggles_item:last-child .sc_toggles_content,
.sc_toggles.sc_toggles_style_1 .sc_toggles_item:last-child,
.sc_toggles.sc_toggles_style_3 .sc_toggles_item:last-child .sc_toggles_title,
.sc_toggles.sc_toggles_style_3 .sc_toggles_item:last-child .sc_toggles_content,
.sc_toggles.sc_toggles_style_3 .sc_toggles_item:last-child,
.sc_tabs_style_1 .sc_tabs_content,
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info,
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info:before
/*radius4 bottom left*/{-moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0;}
.postSharing > ul > li.share > ul.shareDrop,
.sc_accordion.sc_accordion_style_3 .sc_accordion_item:last-child .sc_accordion_title,
.sc_accordion.sc_accordion_style_3 .sc_accordion_item:last-child .sc_accordion_content,
.sc_accordion.sc_accordion_style_3 .sc_accordion_item:last-child,
.sc_toggles.sc_toggles_style_1 .sc_toggles_item:last-child .sc_toggles_title,
.sc_toggles.sc_toggles_style_1 .sc_toggles_item:last-child .sc_toggles_content,
.sc_toggles.sc_toggles_style_1 .sc_toggles_item:last-child,
.sc_toggles.sc_toggles_style_3 .sc_toggles_item:last-child .sc_toggles_title,
.sc_toggles.sc_toggles_style_3 .sc_toggles_item:last-child .sc_toggles_content,
.sc_toggles.sc_toggles_style_3 .sc_toggles_item:last-child,
.sc_tabs_style_1 .sc_tabs_content,
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info,
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info:before
/*radius4 bottom right*/{-moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0;}

.sc_border .sc_zoom,
.sc_border .slides,
.mejs-container .mejs-controls .mejs-time-rail span.mejs-time-float,
.reviewBlock .ratingItem .ratBubble
/*radius3*/{ -webkit-border-radius: 0; -moz-border-radius:0; border-radius: 0;}

.sc_table,
.sc_pricing_table,
.sc_pricing_table .sc_pricing_columns:hover ul.columnsAnimate
/*radius10*/{ -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;}
.sc_table table tr:first-child th:first-child,
.sc_table table tr:first-child td:first-child,
.sc_pricing_table .sc_pricing_columns:first-child ul li:first-child,
.sc_pricing_table .sc_pricing_columns:hover ul.columnsAnimate li:first-child,
.sc_pricing_table .sc_pricing_columns:first-child ul,
.sc_pricing_table .sc_pricing_columns:first-child ul li.sc_pricing_title_img img,
.tabsButton ul li, .tabsButton ul li a:before,
.sc_tabs_style_1 .sc_tabs_titles li.ui-tabs-active a
/*radius10 top left*/{-moz-border-radius-topleft: 0; -webkit-border-top-left-radius: 0; border-top-left-radius: 0;}
.sc_table table tr:first-child th:last-child,
.sc_table table tr:first-child td:last-child,
.sc_pricing_table .sc_pricing_columns:last-child ul li:first-child,
.sc_pricing_table .sc_pricing_columns:hover ul.columnsAnimate li:first-child,
.sc_pricing_table .sc_pricing_columns:last-child ul,
.sc_pricing_table .sc_pricing_columns:last-child ul li.sc_pricing_title_img img,
.tabsButton ul li, .tabsButton ul li a:before,
.sc_tabs_style_1 .sc_tabs_titles li.ui-tabs-active a
/*radius10 top right*/{-moz-border-radius-topright: 0; -webkit-border-top-right-radius: 0; border-top-right-radius: 0;}
.sc_table table tr:last-child th:first-child,
.sc_table table tr:last-child td:first-child,
.sc_pricing_table .sc_pricing_columns:first-child ul li:last-child,
.sc_pricing_table .sc_pricing_columns:hover ul.columnsAnimate li:last-child,
.sc_pricing_table .sc_pricing_columns:first-child ul
/*radius10 bottom left*/{-moz-border-radius-bottomleft: 0; -webkit-border-bottom-left-radius: 0; border-bottom-left-radius: 0;}
.sc_table table tr:last-child th:last-child,
.sc_table table tr:last-child td:last-child,
.sc_pricing_table .sc_pricing_columns:last-child ul li:last-child,
.sc_pricing_table .sc_pricing_columns:hover ul.columnsAnimate li:last-child,
.sc_pricing_table .sc_pricing_columns:last-child ul
/*radius10 bottom right*/{-moz-border-radius-bottomright: 0; -webkit-border-bottom-right-radius: 0; border-bottom-right-radius: 0;}


/* Enable round corners */
.sc_contact_form_contact_2 textarea,
.sc_contact_form_contact_2 input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.portfolio .isotopeElement .hoverDirShow .folioShowBlock,
.masonry article .thumb,
.masonry article .thumb img,
.portfolio.folio1col .isotopeElement img,
.portfolio.folio2col .isotopeElement img,
.portfolio.folio3col .isotopeElement img,
.portfolio.folio4col .isotopeElement img,
.portfolio.folio1col .isotopeElement > .effect6,
.portfolio.folio2col .isotopeElement > .effect6,
.portfolio.folio3col .isotopeElement > .effect6,
.portfolio.folio4col .isotopeElement > .effect6,
.portfolio.folio1col .isotopeElement,
.portfolio.folio2col .isotopeElement,
.portfolio.folio3col .isotopeElement,
.portfolio.folio4col .isotopeElement {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

/* Disable shadows
------------------------------------------------------------------- */
.top_panel_over .topWrap,
.sliderHomeBullets.slider_alias_10 .order a,
.sc_slider_pagination_area .flex-control-nav.manual .slide_date,
.topWrap .topMenuStyleLine > ul#mainmenu ul.menu-panel ul,
.footerWrap.footerStyleLight .footerWidget:before,
.sc_shadow,
.sc_popup_light,
.inlineShadow,
/*input[type="submit"]:hover,
input[type="button"]:hover,
input[type="submit"]:active,
input[type="button"]:active,*/
.nav_pages_parts a:hover span,
.nav_comments a:hover,
.sc_scroll_controls .flex-direction-nav a:hover,
.sc_testimonials_style_1 .flex-direction-nav a:hover,
.sc_testimonials_style_1 .flex-direction-nav a:active,
.pagination .flex-direction-nav a:hover,
.pagination .flex-direction-nav a:active,
.pagination > ul > li > a:hover,
.pagination .pageLibrary > li.libPage > .pageFocusBlock:after,
.roundButton a:hover,
.roundButton a:active,
ul > li.share > ul.shareDrop,
.sc_tabs_style_1 .sc_tabs_content,
.sc_table,
.sc_pricing_table,
.woocommerce div.product .woocommerce-tabs .panel, .woocommerce #content div.product .woocommerce-tabs .panel, .woocommerce-page div.product .woocommerce-tabs .panel, .woocommerce-page #content div.product .woocommerce-tabs .panel {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
}
.inlineShadow { left:0; right: 0; height: 0; border-bottom:1px solid #e9e9e9; z-index:1;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="submit"]:active,
input[type="button"]:active,
.squareButton:hover,
.squareButton:active,
.nav_pages_parts a:hover span,
.nav_comments a:hover,
.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page #content input.button:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce #content input.button.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page #content input.button.alt:hover { top: 0; }
.sc_scroll_controls .flex-direction-nav a:hover,
.sc_testimonials_style_1 .flex-direction-nav a:hover,
.sc_testimonials_style_1 .flex-direction-nav a:active,
.pagination .flex-direction-nav a:hover,
.pagination .flex-direction-nav a:active,
.pagination > ul > li > a:hover,
.roundButton a:hover,
.roundButton a:active { margin-top:0; }



/* Arrows
---------------------------------------------------------------------- */
.sc_scroll_controls ul.flex-direction-nav a,
.sc_scroll_controls ul.flex-direction-nav li:hover a,
.sc_scroll_controls ul.flex-direction-nav li:active a,
.roundButton.up a, .roundButton.down a,
.roundButton.up:hover a, .roundButton.down:hover a,
.roundButton.up:active a, .roundButton.down:active a,
.sc_testimonials .flex-direction-nav a,
.sc_testimonials .flex-direction-nav a:hover,
.twitBlock .sc_slider .flex-direction-nav li a:before,
#sc_calendar .roundButton a,
#sc_calendar .roundButton:hover a,
.sc_calendar .roundButton a,
.sc_calendar .roundButton:hover a,
.footerStyleDark .footerWidget .roundButton a,
.footerStyleDark .footerWidget .roundButton:hover a,
.footerStyleLight .footerWidget .roundButton a,
.footerStyleLight .footerWidget .roundButton:hover a,
.pagination .pageLibrary > li.libPage > .pageFocusBlock .flex-direction-nav li a,
.pagination .pageLibrary > li.libPage > .pageFocusBlock .flex-direction-nav li:hover a { background:none; border-color:transparent; }

.roundButton a:before,
.sc_scroll_controls_horizontal .flex-direction-nav a:before,
.sc_testimonials .flex-direction-nav a:before,
.twitBlock .sc_slider .flex-direction-nav li a:before,
.pagination .flex-direction-nav a:before {
	color: #8b8b8b;
}
.dark .roundButton a:before,
.dark .sc_scroll_controls_horizontal .flex-direction-nav a:before,
.dark .sc_testimonials .flex-direction-nav a:before,
.dark .twitBlock .sc_slider .flex-direction-nav li a:before,
.dark .pagination .flex-direction-nav a:before {
	color: #ffffff;
}

.dark .sc_testimonials .flex-direction-nav a:after,
.dark .sc_testimonials .flex-direction-nav a:before {color: rgba(255,255,255,0.5);}
.dark .sc_testimonials .flex-direction-nav a:hover:after,
.dark .sc_testimonials .flex-direction-nav a:hover:before {color: #ffffff;}

.twitBlock .sc_slider .flex-direction-nav li a:before { color: rgba(255,255,255,0.6); }
.twitBlock .sc_slider .flex-direction-nav li:hover a:before { color: #ffffff; background-color:transparent; }

.roundButton.left a:before,
.sc_scroll_controls_horizontal .flex-direction-nav a.flex-prev:before,
.sc_testimonials .flex-direction-nav a.flex-prev:before,
.twitBlock .sc_slider .flex-direction-nav li a.flex-prev:before,
.pagination .flex-direction-nav a.flex-prev:before,
.squareButton.ico.left > a:before {
	content:'\e825';
}
.roundButton.right a:before,
.sc_scroll_controls_horizontal .flex-direction-nav a.flex-next:before,
.sc_testimonials .flex-direction-nav a.flex-next:before,
.twitBlock .sc_slider .flex-direction-nav li a.flex-next:before,
.pagination .flex-direction-nav a.flex-next:before {
	content:'\e826';
}
.pagination .squareButton.ico.right > a:after {content: '';}
.sc_scroll_controls_vertical .flex-direction-nav a.flex-prev:before, .roundButton.up a:before {
	content:'\e827';
}
.sc_scroll_controls_vertical .flex-direction-nav a.flex-next:before, .roundButton.down a:before {
	content:'\e824';
}

.widget_calendar:not(.widgetTop) .roundButton.left a:before,
.widget_calendar:not(.widgetTop) .roundButton.right a:before { font-size:14px; }

.sc_testimonials_style_3 .flex-direction-nav a:before,
.footerStyleDark .footerWidget .sc_video_player .sc_video_play_button:after { color: rgba(255,255,255,0.6); }
.sc_testimonials_style_3 .flex-direction-nav li:hover a:before,
.footerStyleDark .footerWidget .sc_video_player:hover .sc_video_play_button:after { color: #191d1e; }


/* Buttons
------------------------------------------------------------------ */
input[type="submit"],
input[type="button"],
.squareButton.mono > a:after,
.squareButton.mono > span:after,
.squareButton > a,
.roundButton > a,
.nav_pages_parts a span,
.nav_comments a
{ border-color:#f1f1f1; background-color: #f1f1f1;}

input[type="submit"]:hover,
input[type="button"]:hover,
.roundButton > a:hover,
.nav_pages_parts a:hover span,
.nav_comments a:hover {color: #ffffff; }

.squareButton.light.ico > a:after, .squareButton.light.ico > a:before {color: #000000;}

.relatedMore .squareButton a,
.postSharing .squareButton a,
.sc_blogger_more.squareButton a { font-weight:700; font-size:0.85em; text-transform:uppercase; letter-spacing:1px; }


ul > li.share > ul.shareDrop { 
	border-color:#f9f9f9; 
	width: 100px; 
}

ul > li.share.squareButton > a.selected:hover:before,
ul > li.share.squareButton > a.selected:hover {	color: #000;}

.squareButton > a.selected:hover { border-color: #f9f9f9; }




/* Slider
---------------------------------------------------------------------- */
.sliderHomeBullets.slider_alias_15 .rsBullets { display: none;}
.sliderHomeBullets.slider_alias_15 .rsBullets .rsBullet span { border-color:#ffffff; background-color: #ffffff; }

.sliderHomeBullets.slider_alias_15 .imageBlock { text-align: center; left: 0; width: 60%; z-index: 5;}
.sliderHomeBullets.slider_alias_15 .imageBlock img { display: inline-block; width: auto; }

.sliderHomeBullets.slider_alias_15 .textBlock { font-size: 1em; line-height: 150%; margin-left:0; text-align: center; left: 0; width: 60%; z-index: 5;}
.sliderHomeBullets.slider_alias_15 .textBlock.title div { font-family: 'Rufina', serif; font-weight: 400; font-size: 4.14em; }
.sliderHomeBullets.slider_alias_15 .textBlock.text div { font-family: 'Hind', sans-serif; font-weight: 400; margin: 0; background:none; padding:0; margin:0; display:inline-block; }

.sliderHomeBullets.slider_alias_15 .order { text-align: center; left: 0; width: 60%;  }
.sliderHomeBullets.slider_alias_15 .order a { display: inline-block; color: #ffffff; font-size: 1.15em; font-weight: 700; border-width:0; }
.sliderHomeBullets.slider_alias_15 .order a:hover { background-color: #ffffff; }
.sliderHomeBullets.slider_alias_15 .order a:before { display: none; }

.sliderHomeBullets.slider_alias_15 .slide-1 .imageBlock { top: 42%;}
.sliderHomeBullets.slider_alias_15 .slide-1 .imageBlock img { height: 12.5%;}
.sliderHomeBullets.slider_alias_15 .slide-1 .textBlock.title { top: 58%; }
.sliderHomeBullets.slider_alias_15 .slide-1 .textBlock.text { top: 68%;  }
.sliderHomeBullets.slider_alias_15 .slide-1 .textBlock.text div { font-size: 1.72em; }

.sliderHomeBullets.slider_alias_15 .slide-2 .imageBlock { top: 41.5%; left: auto; right:0; }
.sliderHomeBullets.slider_alias_15 .slide-2 .imageBlock img { height: 15.6%; }
.sliderHomeBullets.slider_alias_15 .slide-2 .textBlock { left: auto; right:0; }
.sliderHomeBullets.slider_alias_15 .slide-2 .textBlock.title { top: 65%; }
.sliderHomeBullets.slider_alias_15 .slide-2 .textBlock.title div { font-size:4em; }
.sliderHomeBullets.slider_alias_15 .slide-2 .textBlock.text { top: 55.8%; }
.sliderHomeBullets.slider_alias_15 .slide-2 .textBlock.text div { font-size: 1.29em; padding-bottom: 1.5em; border-bottom:1px solid rgba(255,255,255,0.4); }
.sliderHomeBullets.slider_alias_15 .slide-2 .order { top: 76%; left: auto; right:0; }

.sliderHomeBullets.slider_alias_15 .slide-3 .imageBlock { top: 26.4%; left: auto; right:0; }
.sliderHomeBullets.slider_alias_15 .slide-3 .imageBlock img { height: 17.1%; }
.sliderHomeBullets.slider_alias_15 .slide-3 .textBlock { left: auto; right:0; }
.sliderHomeBullets.slider_alias_15 .slide-3 .textBlock.title { top: 44%; }
.sliderHomeBullets.slider_alias_15 .slide-3 .textBlock.text { top: 54%; }
.sliderHomeBullets.slider_alias_15 .slide-3 .textBlock.text div { font-size: 1.15em; }
.sliderHomeBullets.slider_alias_15 .slide-3 .order { top: 63%; left: auto; right:0; }

.sliderHomeBullets.slider_alias_15 .slideContent:before { content: ''; position:absolute; left:0; top:0; bottom:0; right:0; background-color:rgba(0,0,0,0.2); z-index:3; background-image:url(../../images/bg/texture_3.png); }



/* New Fullscreen Slider 
---------------------------------------------------------------------- */
.fullScreenSlider .sliderHomeBullets .textBlock .title {
	font-family: "Rufina", serif;
	text-shadow:rgba(0,0,0,0.4) 2px 2px;
}

.fullScreenSlider .sliderHomeBullets.slider_alias_12 .textBlock { top: 45%; }
.fullScreenSlider .sliderHomeBullets.slider_alias_12 .order { top:60%; }

.sliderHomeBullets.slider_alias_12 .slide-3 .image { top: 35%; }
.sliderHomeBullets.slider_alias_12 .slide-3 .textBlock { top: 45%; }


/* WooCommerce Slider 
---------------------------------------------------------------------- */
.sliderHomeBullets.slider_alias_13 .textBlock { width:55%; }
.sliderHomeBullets.slider_alias_13 .textPrice > div,
.sliderHomeBullets.slider_alias_13 .textPrice {
	background:  transparent !important;
	border: 5px solid rgba(245, 94, 69, 0.40);
	height: 140px;
	padding: 0;
	top: 10%; right: 7%;
	width:140px;
}
.sliderHomeBullets.slider_alias_13 .textPrice > div {
	background-color: #f1c458 !important;
	border: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font: normal 36px/36px 'Hind',serif;
}
.sliderHomeBullets.slider_alias_13 .textPrice span {
	font-size: 32px;
	line-height: 140px;
	margin-top: 0;
	text-align: center;
}



/* Revolution Slider
---------------------------------------------------------------------- */
.tparrows.preview1:after { font-family: "fontello"; font-size:37px; }
.tp-leftarrow.preview1:after {
	content: "\e949";
}
.tp-rightarrow.preview1:after {
	content: "\e94a";
}

.tp-bullets.simplebullets .bullet:hover,
.tp-bullets.simplebullets .bullet.selected,
.tp-bullets.simplebullets .bullet {
	background:none !important;
	background-color: #000 !important;
	border:2px solid #000 !important;
	-webkit-border-radius: 50% !important;
   	   -moz-border-radius: 50% !important;
			border-radius: 50% !important;
	height: 12px !important;
	margin-right:12px !important;
	width:12px !important;
}
.tp-bullets.simplebullets .bullet.selected,
.tp-bullets.simplebullets .bullet:hover { background-color:transparent !important;border-color: #ffffff !important; }

.slider_alias_rev-hr2 .tp-arr-imgholder {display: none !important;}

/* Magnific popup
---------------------------------------------------------------------- */
.mfp-close {right: -7px;top: -5px;}