/*=Accordion==================================================================================================================================================================*/

.sc_accordion .sc_accordion_item .sc_accordion_content { overflow: hidden; display: none; font-weight: 300; margin:0px; }
.sc_accordion .sc_accordion_item .sc_accordion_title { font-size: 18px;text-align:left; font-weight:300; }
.sc_accordion .sc_accordion_item .sc_accordion_title:before { color: #676758; content:'\e828'; font-family: 'fontello';width:21px; height:21px;display:block; text-align:center; line-height:21px; font-size:14px; text-indent:0px; position:absolute; }
.sc_accordion.sc_accordion_style_3 .sc_accordion_item .sc_accordion_title:before { color: #f0f0e2;}
.sc_accordion .sc_accordion_item.sc_active .sc_accordion_title:before{ color: #ffffff; content:'\e829'; font-family: 'fontello'; font-size:14px; line-height:21px; font-weight:100; text-indent:0px;}

/*accordion style 1*/
.sc_accordion.sc_accordion_style_1{ border-radius: 3px;margin:0 0 50px 0;}
.sc_accordion.sc_accordion_style_1 .sc_accordion_item { border:1px solid #f1f1f1; }
.sc_accordion.sc_accordion_style_1 .sc_accordion_item:first-child .sc_accordion_title,
.sc_accordion.sc_accordion_style_1 .sc_accordion_item:first-child {border-radius: 3px 3px 0 0;}
.sc_accordion.sc_accordion_style_1 .sc_accordion_item:last-child .sc_accordion_title,
.sc_accordion.sc_accordion_style_1 .sc_accordion_item:last-child .sc_accordion_content,
.sc_accordion.sc_accordion_style_1 .sc_accordion_item:last-child {border-radius:  0 0 3px 3px;}
.sc_accordion.sc_accordion_style_1 .sc_accordion_item + .sc_accordion_item { border-width: 0 1px 1px 1px; }
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title{ cursor:pointer; padding:15px 15px 15px 50px; position:relative; 
	background: #ffffff; 
	background: -moz-linear-gradient(top,  #ffffff 22%, #f0f0f0 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,#ffffff), color-stop(100%,#f0f0f0)); 
	background: -webkit-linear-gradient(top,  #ffffff 22%,#f0f0f0 100%); 
	background: -o-linear-gradient(top,  #ffffff 22%,#f0f0f0 100%); 
	background: -ms-linear-gradient(top,  #ffffff 22%,#f0f0f0 100%); 
	background: linear-gradient(to bottom,  #ffffff 22%,#f0f0f0 100%); 
}
.sc_accordion.sc_accordion_style_1 .sc_accordion_item.sc_active .sc_accordion_title{ background: none; cursor:default; }
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_content{font-size: 14px;line-height: 21px; padding:0 15px 15px 50px; }
.sc_accordion.sc_accordion_style_1 .sc_accordion_item .sc_accordion_title:before { background-color: #f1f1f1; border:1px solid #f1f1f1; top:15px; left:14px;}

/*accordion style 2*/
.sc_accordion.sc_accordion_style_2 { margin:0 0 50px 0;}
.sc_accordion.sc_accordion_style_2 .sc_accordion_item { border-width:1px 0; border-style: solid; border-color: #dddddd; }
.sc_accordion.sc_accordion_style_2 .sc_accordion_item + .sc_accordion_item { border-width: 0 0 1px 0; }
.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title{ cursor:pointer; padding:20px 50px 20px 15px ; position:relative; }
.sc_accordion.sc_accordion_style_2 .sc_accordion_item.sc_active .sc_accordion_title{ cursor:default; } 
.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_content{ padding:0 50px 15px 15px; }
.sc_accordion.sc_accordion_style_2 .sc_accordion_item .sc_accordion_title:before { border:1px solid #dddddd; top:21px; right:10px;}

/*accordion style 3*/
.sc_accordion.sc_accordion_style_3 { margin:0 0 50px 0;}
.sc_accordion.sc_accordion_style_3 .sc_accordion_item { border-width: 1px; border-style: solid; }
.sc_accordion.sc_accordion_style_3 .sc_accordion_item + .sc_accordion_item {  border-top-color: #fff;  }
.sc_accordion.sc_accordion_style_3 .sc_accordion_item .sc_accordion_title { cursor:pointer; color: #fff;  padding:20px 50px 20px 15px ; position:relative; }
.sc_accordion.sc_accordion_style_3 .sc_accordion_item.sc_active .sc_accordion_title{ background: #fff; } 
.sc_accordion.sc_accordion_style_3 .sc_accordion_item .sc_accordion_content{ padding: 15px 50px 15px 15px;}
.sc_accordion.sc_accordion_style_3 .sc_accordion_item .sc_accordion_title:before { border:1px solid #fff; top:22px; right:10px;}
.sc_accordion.sc_accordion_style_3 .sc_accordion_item.sc_active .sc_accordion_title:before { border-color: #ddd;}

/*accordion large*/
.sc_accordion.sc_accordion_large .sc_accordion_item .sc_accordion_title{ padding:30px 50px 30px 15px;  }
.sc_accordion.sc_accordion_large .sc_accordion_item .sc_accordion_title:before{ top: 30px; right: 0; }
.sc_accordion.sc_accordion_large .sc_accordion_item .sc_accordion_content { padding:0 50px 30px 30px; }

/*accordion counter*/
.sc_accordion.sc_show_counter .sc_accordion_item .sc_accordion_title { padding-left:0; }
.sc_accordion.sc_show_counter .sc_accordion_item .sc_accordion_title span.sc_items_counter { display:inline-block; width:50px; }
.sc_accordion.sc_show_counter .sc_accordion_item .sc_accordion_content { padding-left: 50px;}


/*=Align================================================================================================================================================*/
.sc_center {text-align: center !important;}
.sc_left {text-align: left !important;}
.sc_right {text-align: right !important;}


/*=Audio================================================================================================================================================*/
.audio_container {
	overflow:hidden;
	min-height:50px;
	padding-top:15px;
}
.wpb_row .audio_container {
	padding-top:0;
}


/*=Columns===============================================================================================================================================*/
.sc_column_item { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-sizing: border-box; min-height:1px; }


/*=Google map============================================================================================================================================*/
.sc_googlemap img { max-width: none; }


/*=Toggle================================================================================================================================================*/

.sc_toggles .sc_toggles_content { display: none; overflow:hidden; margin:0px; font-weight: 300; }
.sc_toggles .sc_toggles_item .sc_toggles_title { text-align:left; font-weight:400; }
.sc_toggles .sc_toggles_item .sc_toggles_title:before { content:'+'; width:28px; height:28px;display:block; text-align:center; line-height:32px; font-size:20px; text-indent:1px; position:absolute; }
.sc_toggles .sc_toggles_item.sc_active .sc_toggles_title:before{ content:'-'; font-size:30px; line-height:32px; font-weight:100; text-indent:0px;}

/*toggle style 1*/
.sc_toggles.sc_toggles_style_1 { margin:0 0 50px 0;}
.sc_toggles.sc_toggles_style_1 .sc_toggles_item { border:1px solid #dddddd; }
.sc_toggles.sc_toggles_style_1 .sc_toggles_item + .sc_toggles_item { border-style: solid; border-color: #dddddd; border-width: 0 1px 1px 1px; }
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title { cursor:pointer; padding:15px 15px 15px 50px; position:relative; 
	background: #ffffff; 
	background: -moz-linear-gradient(top,  #ffffff 22%, #f0f0f0 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(22%,#ffffff), color-stop(100%,#f0f0f0)); 
	background: -webkit-linear-gradient(top,  #ffffff 22%,#f0f0f0 100%); 
	background: -o-linear-gradient(top,  #ffffff 22%,#f0f0f0 100%); 
	background: -ms-linear-gradient(top,  #ffffff 22%,#f0f0f0 100%); 
	background: linear-gradient(to bottom,  #ffffff 22%,#f0f0f0 100%); 
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );*/
}
.sc_toggles.sc_toggles_style_1 .sc_toggles_item.sc_active .sc_toggles_title { background: none; color:#222222;}
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_content { padding:0 15px 15px 50px; }
.sc_toggles.sc_toggles_style_1 .sc_toggles_item .sc_toggles_title:before { border:1px solid #dddddd; top:10px; left:10px;}

/*toggle style 2*/
.sc_toggles.sc_toggles_style_2 { margin:0 0 50px 0;}
.sc_toggles.sc_toggles_style_2 .sc_toggles_item { border-width:1px 0; border-style: solid; border-color: #dddddd; }
.sc_toggles.sc_toggles_style_2 .sc_toggles_item + .sc_toggles_item { border-style: solid; border-color: #dddddd; border-width: 0 0 1px 0; }
.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_title{ cursor:pointer; padding:20px 50px 20px 15px ; position:relative; }
.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_content{ padding:0 50px 15px 15px;}  
.sc_toggles.sc_toggles_style_2 .sc_toggles_item .sc_toggles_title:before { border:1px solid #dddddd; top:15px; right:10px;}

/*toggle style 3*/
.sc_toggles.sc_toggles_style_3 { margin:0 0 50px 0;}
.sc_toggles.sc_toggles_style_3 .sc_toggles_item { border-width: 1px; border-style: solid; }
.sc_toggles.sc_toggles_style_3 .sc_toggles_item + .sc_toggles_item {  border-width:1px; border-style: solid;  border-top-color: #fff;  }
.sc_toggles.sc_toggles_style_3 .sc_toggles_item .sc_toggles_title{ cursor:pointer; color: #fff;  padding:20px 50px 20px 15px ; position:relative; }
.sc_toggles.sc_toggles_style_3 .sc_toggles_item.sc_active .sc_toggles_title{ background: #fff; } 
.sc_toggles.sc_toggles_style_3 .sc_toggles_item .sc_toggles_content{ padding:15px 50px 15px 15px;}
.sc_toggles.sc_toggles_style_3 .sc_toggles_item .sc_toggles_title:before { border:1px solid #fff; top:15px; right:10px;}

/*toogle large*/
.sc_toggles.sc_toggles_large .sc_toggles_item .sc_toggles_title{ padding:30px 50px 30px 15px;  }
.sc_toggles.sc_toggles_large .sc_toggles_item .sc_toggles_title:before{ top: 30px; right: 0; }
.sc_toggles.sc_toggles_large .sc_toggles_item .sc_toggles_content { padding:0 50px 30px 30px; }

/*toogle counter*/
.sc_toggles.sc_show_counter .sc_toggles_item .sc_toggles_title { padding-left:0; }
.sc_toggles.sc_show_counter .sc_toggles_item .sc_toggles_title span.sc_items_counter { display:inline-block; width:50px; }
.sc_toggles.sc_show_counter .sc_toggles_item .sc_toggles_content { padding-left: 50px;}



/*Dropcaps*/
.sc_dropcaps .sc_dropcap { font-size: 36px; display: inline-block; width: 70px; height: 70px; float: left; text-align: center; line-height: 70px; margin: 8px 10px 0 0 ;}
.sc_dropcaps.sc_dropcaps_style_1 .sc_dropcap{ color: #fff; }
.sc_dropcaps.sc_dropcaps_style_2 .sc_dropcap{ color: #fff; } 
.sc_dropcaps.sc_dropcaps_style_3 .sc_dropcap{ font-size: 48px; font-weight: 300; }
.sc_dropcaps.sc_dropcaps_style_4 .sc_dropcap{ width: 68px; height: 68px; border-width: 1px; border-style: dashed;}
.sc_dropcaps.sc_dropcaps_style_5 .sc_dropcap{ width: 68px; height: 68px; border-width: 1px; border-style: dashed; line-height: 74px}
.sc_dropcaps.sc_dropcaps_style_6 .sc_dropcap{ border-left-width: 1px; border-left-style: solid;}

/*tooltip*/
.sc_tooltip_parent { text-decoration: none; border-bottom-width: 1px; border-bottom-style: dashed;  position: relative; }
.sc_tooltip_parent .sc_tooltip { position: absolute; color: #fff; white-space: nowrap; top: -33px !important; left: 0 !important; padding: 1px 5px; z-index: 2; display: none;}
.sc_tooltip_parent .sc_tooltip:before{ content: ''; width: 8px; height: 8px; position: absolute;  left: 12px; bottom: -4px; z-index: 1; 
	-webkit-transform: rotate(45deg);
	   -moz-transform: rotate(45deg);
	     -o-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
}


/*price*/
.sc_price_item { height:72px; width:auto; display:inline-block; position:relative; margin:0 auto;}
.sc_price_item .sc_price_currency {
	float: left;
	font-size: 72px;
	font-weight: 400;
	height: 72px;
	line-height: 72px;
}
.sc_price_item .sc_price_money {
	float: left;
	font-size: 72px;
	font-weight: 400;
	height: 72px;
	line-height: 72px;
}
.sc_price_item .sc_price_info { height:50px; padding:0; float:left; text-align:left;}
.sc_price_item .sc_price_penny {
	font-size: 42px;
	font-weight: 400;
	height: 42px;
	line-height: 42px;
	margin-top: 3px;
}
.sc_price_item .sc_price_period { font-size:12px; font-style:italic; height:20px; line-height:20px; }
.sc_price_item .sc_price_period, .dark .sc_price_item .sc_price_period,
.sc_price_item .sc_price_currency, .dark .sc_price_item .sc_price_currency { color:#373737; }
.sc_pricing_table ul:hover .sc_price_item .sc_price_period,
.sc_pricing_table ul:hover .dark .sc_price_item .sc_price_period,
.sc_pricing_table ul:hover .sc_price_item .sc_price_currency,
.sc_pricing_table ul:hover .dark .sc_price_item .sc_price_currency {color: #ffffff;}

/*=Countdown===============================================================================================================================================*/
.sc_countdown_flip { text-align: center;}
.sc_countdown_flip .flip-clock-wrapper { height:115px; display: inline-block; margin:0 auto; }

/*round*/
.sc_countdown.sc_countdown_square{
	padding: 10px 0;
	text-align: center;
}
.sc_countdown.sc_countdown_square .sc_countdown_counter .countdown-section + .countdown-section { margin: 0 0 0 25px;}
.sc_countdown.sc_countdown_square .sc_countdown_counter .countdown-section {
	display: inline-block;
	height: 80px;
	position: relative;
	text-align: center;
	width: 80px;
}
.sc_countdown.sc_countdown_square .sc_countdown_counter .countdown-section:after {
	color: #ffffff;
	content:':';
	font-size: 55px;
	line-height: 55px;
	position: absolute;
	right: -20px;top:-7px;
}
.sc_countdown.sc_countdown_square .sc_countdown_counter .countdown-section:last-child:after {content:'';}
.sc_countdown.sc_countdown_square .sc_countdown_counter .countdown-section .countdown-amount{
	color: #ffffff;
	display: block;
	font-weight: 600;
	font-size: 55px;
	line-height: 55px;
	margin: 0;
}
.sc_countdown.sc_countdown_square .sc_countdown_counter .countdown-section .countdown-period{
	color: #ffffff;
	display: block;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 20px;
	margin-top: 5px;
	padding: 0;
	position: relative;
	text-transform: uppercase;
}

/*=Icon===============================================================================================================================================*/
.sc_icon { display:inline-block; padding-right: 6px; }
.sc_icon[class*=" icon-"]:before { margin:0; }
.sc_icon_square, .sc_icon_round { display:inline-block; padding: 4px; text-align:center; }
.sc_icon_square { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.sc_icon_round { -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; }
.sc_icon_square[class*=" icon-"]:before, .sc_icon_round[class*=" icon-"]:before { margin:0 auto;}


/*=Image===============================================================================================================================================*/

.sc_image_align_left, .sc_alignleft { display: inline; float: left !important; margin-right: 3.5em !important; margin-left:0 !important; }
.sc_image_align_right, .sc_alignright { display: inline; float: right !important; margin-left: 3.5em !important; margin-right:0 !important; }
.sc_image_align_left.margin_right_small {margin-right: 30px !important;}
.sc_image_align_center img, .sc_aligncenter:not(.img_size_initial) img,
.sc_image_align_left img, .sc_alignleft img,
.sc_image_align_right img, .sc_alignright img { width: 100%;}

.sc_image_align_center, .sc_aligncenter { display: block; float: none !important; clear:both; margin-left: auto !important; margin-right: auto !important; text-align:center; /*width:auto;*/ }

.sc_image_shape_round { display: block; position:relative; overflow:hidden; border-radius: 50%; }
.sc_image_shape_round figcaption,
.post .sc_image_shape_round figcaption { position:absolute; height:auto; line-height:1.4em; left:0; top:0; right:0; bottom:0; background-color: rgba(0,0,0,0.6); color: #ffffff; text-align:center;
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	    -ms-transition: all 0.4s ease-in-out;
	     -o-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;
}
/* Not work correctly in Chrome */
.sc_image_shape_round:hover figcaption {  
	   -moz-transform: rotate(360deg);
	     -o-transform: rotate(360deg);
	    -ms-transform: rotate(360deg);
}
.sc_image_shape_round figcaption span:before { display:block; margin: 35% auto 0.5em; position:static; }
.sc_image_shape_round figcaption span { display:block; margin: 0 auto; margin-top: -30px; color: #ffffff !important; font-size:1.5em; }


/*=Infoboxes==================================================================================================================================================================*/
.sc_infobox{  border:1px solid #e5e5e5; margin:0 0 10px 0; color:#222222; font-size:18px; font-weight:300; padding:15px 15px 15px 20px; clear: both; }
.rev_slider_wrapper .sc_infobox{  padding:10px 10px 10px 15px;}
.sc_infobox b, .sc_infobox strong { font-weight: 400; }
.sc_infobox p { display: block; font-size: 14px; padding: 0; margin: 0; color: #999999;}
.sc_infobox h4 { text-align:left; }

.sc_infobox.sc_infobox_style_info { color:#766a36; background-color:#fcf6d8; }
.sc_infobox.sc_infobox_style_info h4 { color:#766a36; }
.sc_infobox.sc_infobox_style_success { color:#61763f; background-color:#f0ffda; }
.sc_infobox.sc_infobox_style_success h4 { color:#61763f; }
.sc_infobox.sc_infobox_style_error { color:#765050; background-color:#f8e6e6;  }
.sc_infobox.sc_infobox_style_error h4 { color:#765050; }

.sc_infobox.sc_infobox_style_success p { color: #afa05c;}
.sc_infobox.sc_infobox_style_error p { color: #a47e7e;}

.sc_infobox.sc_infobox_closeable{ cursor: pointer; }
.sc_infobox.sc_infobox_closeable:before { content: '\e807';  font-family: "fontello"; cursor:pointer; font-size:18px; line-height:18px; width:18px; height:18px; display:block; float: right; color:#aaaaaa; margin:2px 0 10px 10px ;}

.sc_infobox.sc_infobox_style_info:before{ color:#a8a592;}
.sc_infobox.sc_infobox_style_success:before{ color:#a1aa94;}
.sc_infobox.sc_infobox_style_error:before{ color:#a69b9b;}


/*=Table===============================================================================================================================================*/
.sc_table table {  border-collapse:separate; }
.sc_table table th,
.sc_table table td { border-left-width:0; border-top-width:0; }
.sc_table table tr th:first-child,
.sc_table table tr td:first-child { border-left-width:1px; }
.sc_table table tr:first-child th,
.sc_table table tr:first-child td { border-top-width:1px; }

.sc_table table tr.odd td { background-color:#f5f5f5;}
	
.sc_table table th { text-align:center; }

.sc_table table th,
.sc_table table td { vertical-align:middle; padding:10px; }

.sc_table.sc_table_size_small table th,
.sc_table.sc_table_size_small table td {  padding:4px; }

.sc_table.sc_table_size_big table th,
.sc_table.sc_table_size_big table td {  padding:20px; }

.sc_table.sc_table_align_center table th,
.sc_table.sc_table_align_center table td,
.sc_table_grey th, .sc_table_grey td { text-align:center; }

.sc_table.sc_table_align_right table th,
.sc_table.sc_table_align_right table td { text-align:right; }

.sc_table table thead th { text-transform:uppercase; font-size:18px;  font-weight:300;}
.sc_table table td span { color:#222222;}
.sc_table table td i { font-size:12px;}

/* table style 1 */
.sc_table.sc_table_style_1 thead th,
.sc_table.sc_table_style_1 thead td,
.sc_table.sc_table_style_1 table tr:first-child th,
.sc_table.sc_table_style_1 table tr:first-child td { color:#fff; }
.sc_table.sc_table_style_1 tfoot th,
.sc_table.sc_table_style_1 tfoot td,
.sc_table.sc_table_style_1 table tr:last-child th,
.sc_table.sc_table_style_1 table tr:last-child td { background-color:#f5f5f5; }

/* table style 2 */
.sc_table.sc_table_style_2 thead tr,
.sc_table.sc_table_style_2 table tr:first-child,
.sc_table_grey { 
	background: #ffffff; 
	background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0)); 
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%); 
	background: -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%); 
	background: -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%); 
	background: linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 100%); 
/*	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); */
}
.sc_table.sc_table_style_2 thead th,
.sc_table.sc_table_style_2 thead td,
.sc_table.sc_table_style_2 table tr:first-child th,
.sc_table.sc_table_style_2 table tr:first-child td { color:#222222; }

.sc_table.sc_table_style_2 table tr:nth-child(odd) { background-color:#f5f5f5;}


/*highlights*/
.sc_highlight.sc_highlight_style_1 { text-decoration: none; display: inline-block; color: #fff; padding: 0 4px;}
.sc_highlight.sc_highlight_style_2 { text-decoration: none; font-weight: 600;}

/*pricing table*/
.sc_pricing_table.alignLeft{ text-align: left; }
.sc_pricing_table.alignCenter{ text-align: center;}
.sc_pricing_table.alignRight{ text-align: right; }

.sc_pricing_table.columns_1 .sc_pricing_columns{ width: 100%; }
.sc_pricing_table.columns_2 .sc_pricing_columns{ width: 50%; }
.sc_pricing_table.columns_3 .sc_pricing_columns{ width: 33.3333%; }
.sc_pricing_table.columns_4 .sc_pricing_columns{ width: 25%; }
.sc_pricing_table.columns_5 .sc_pricing_columns{ width: 20%; }
.sc_pricing_table.columns_6 .sc_pricing_columns{ width: 16.6666%; }
.sc_pricing_table.columns_7 .sc_pricing_columns{ width: 14.2857%; }
.sc_pricing_table.columns_8 .sc_pricing_columns{ width: 12.5%; }
.sc_pricing_table.columns_9 .sc_pricing_columns{ width: 11.1111%; }
.sc_pricing_table.columns_10 .sc_pricing_columns{ width: 10%; }

.sc_pricing_table:after{ content: ''; display: block; height: 0; clear: both;}
.sc_pricing_table .sc_pricing_columns{ float: left; }
.sc_pricing_table .sc_pricing_columns ul{ display: table; margin: 0; padding: 0; background: #fff; z-index: 1; width: 100%; position: relative; border: 1px solid #fff;box-sizing: border-box;  }
.sc_pricing_table .sc_pricing_columns ul li{ display: table-row; }
.sc_pricing_table .sc_pricing_columns ul li > div { display: table-cell; font-size:14px;list-style: none; height: 60px; padding: 0 37px;  color: #7d7d74; line-height:18px; overflow:hidden; vertical-align: middle;position: relative;}
.sc_pricing_table .sc_pricing_columns ul:hover li > div {color: #ffffff;}
.sc_pricing_table .sc_pricing_columns ul li + li > div:before {
	background-color: #cdcdc0;
	content:'';
	height: 1px;
	margin: 0 auto;
	position: absolute;
	bottom: 0; left: 0; right: 0;
	width: 80%;
}
.sc_pricing_table .sc_pricing_columns ul:hover li + li > div:before {background-color: #ffffff;}
.sc_pricing_table .sc_pricing_columns ul li + li:last-child > div:before {height: 0 !important;}
.sc_parallax.dark .sc_pricing_table .sc_pricing_columns ul li.sc_pricing_price > div * {color: #373737 !important;}
.sc_pricing_table .sc_pricing_columns ul li.sc_pricing_price > div {color: #373737;}
.sc_pricing_table .sc_pricing_columns ul:hover li.sc_pricing_price > div {color: #ffffff;}
.sc_pricing_table .sc_pricing_columns ul li.sc_pricing_united{  border: none; height: 245px; text-align: center; line-height: 245px; padding-top:67px; color: #888888; font-size: 18px; font-weight: bold; text-transform: uppercase; }
.sc_pricing_table .sc_pricing_columns ul li b{ color: #222222; text-transform: uppercase; font-weight: 400;}
.sc_pricing_table .sc_pricing_columns ul li i{font-size: 12px;}
.sc_pricing_table .sc_pricing_columns ul,
.sc_pricing_table .sc_pricing_columns ul li {
	-webkit-transition: all 0.4s ease-in-out;
	   -moz-transition: all 0.4s ease-in-out;
	    -ms-transition: all 0.4s ease-in-out;
	     -o-transition: all 0.4s ease-in-out;
	        transition: all 0.4s ease-in-out;  }
.sc_pricing_table .sc_pricing_columns ul li .sc_icon{ width: 16px; height: 16px; display: inline-block;  vertical-align: middle; }
.sc_pricing_table .sc_pricing_columns ul li .sc_icon:before{ font-family: "fontello";  display: block; width: 16px; height: 16px; line-height: 16px; text-align: center; font-size: 16px; }

.sc_pricing_table .sc_pricing_columns:hover ul.columnsAnimate{ z-index: 2; margin:  -20px 0 -20px 0; 
	-webkit-box-shadow: 0 0 6px 1px #f0f0f0;
	   -moz-box-shadow: 0 0 6px 1px #f0f0f0;
	        box-shadow: 0 0 6px 1px #f0f0f0}
.sc_pricing_table .sc_pricing_columns:hover ul.columnsAnimate li.sc_pricing_title{ border: none !important; padding: 0 0 0 1px;}
.sc_pricing_table .sc_pricing_columns:hover ul.columnsAnimate li:first-child{ padding: 20px 0 0 0 ;}
.sc_pricing_table .sc_pricing_columns:hover ul.columnsAnimate li:last-child{ padding: 14px 14px 34px 13px;}


.sc_pricing_table .sc_pricing_columns + .sc_pricing_columns ul li{}
.sc_pricing_table .sc_pricing_columns + .sc_pricing_columns ul li + li{}

.sc_pricing_table .sc_pricing_columns ul li.sc_pricing_title > div { color: #fff; text-transform: uppercase; font-size: 20px; font-weight: 700; border: none; height: auto; padding: 0; line-height: 30px;height: 106px;}
.sc_pricing_table .sc_pricing_columns ul li.sc_pricing_title_img{ padding: 0; border: none; height:auto;}
.sc_pricing_table .sc_pricing_columns ul li.sc_pricing_title_img img{ width: 100%; display: block;}
.sc_pricing_table .sc_pricing_columns ul li.sc_pricing_footer > div {padding: 26px 0 37px;}
.sc_pricing_table .sc_pricing_columns ul li.sc_pricing_footer .sc_button { height: 35px; }
.sc_pricing_table .sc_pricing_columns ul li.sc_pricing_footer .sc_button > a { }

.sc_pricing_table .sc_pricing_columns ul.columnsAnimate li.sc_pricing_price > div,
.sc_pricing_table .sc_pricing_columns ul li.sc_pricing_price > div {
	height: 67px;
	padding: 31px 0 !important;
}

/*=Scroll==================================================================================================================================================================*/

.sc_scroll { overflow: hidden; width: 100%; position:relative; }
.sc_scroll_wrapper { overflow: hidden; }
.sc_scroll_horizontal .sc_scroll_wrapper {
	width: 100000px;
}
.sc_scroll_bar {
	background:transparent;
	position:absolute;
	z-index:100;
}
.sc_scroll_vertical .sc_scroll_bar {
	right:1px;
	top:0;
	bottom:0;
	width:10px;
	border-right:1px solid #dddddd;
}
.sc_scroll_horizontal .sc_scroll_bar {
	right:0;
	left:0;
	bottom:1px;
	height:10px;
	border-bottom:1px solid #dddddd;
}

.sc_scroll_bar .swiper-scrollbar-drag {
	background:none !important;
}
.sc_scroll_vertical .sc_scroll_bar .swiper-scrollbar-drag {
	width:10px;
	left:2px;
}
.sc_scroll_horizontal .sc_scroll_bar .swiper-scrollbar-drag {
	height:10px;
	top:2px;
}
.sc_scroll_bar .swiper-scrollbar-drag:before {
	content:'';
	display:block;
	position:absolute;
	background: rgba(17,114,211,0.8);
}
.sc_scroll_vertical .sc_scroll_bar .swiper-scrollbar-drag:before {
	width:3px;
	right:0;
	top:0;
	bottom:0;
	height:100%;
}
.sc_scroll_horizontal .sc_scroll_bar .swiper-scrollbar-drag:before {
	height:3px;
	left:0;
	right:0;
	bottom:0;
	width:100%;
}

.sc_scroll_horizontal {
	padding-bottom:6px;
}
.sc_scroll_vertical {
	padding-right:6px;
}
.sc_scroll_vertical .swiper-slide {
	float: none;
	display:block;
}
.sc_scroll_controls { position:relative; }
.sc_scroll_controls ul.flex-direction-nav { position: absolute; top:-80px; right:0; list-style:none; margin:0; padding:0; width:84px; height:44px; overflow:hidden; }
.sc_scroll_controls ul.flex-direction-nav li { list-style:none; margin:0; padding:0; position:static; }
.sc_scroll_controls ul.flex-direction-nav li:before { display:none; }
.sc_scroll_controls ul.flex-direction-nav a { width: 37px; height: 37px; display: block; position: absolute; z-index: 10; left:auto; top: 4px; text-align:center; border: 1px solid #ddd; font-size:18px; margin:0; opacity:1 !important; text-shadow:none; }
.sc_scroll_controls ul.flex-direction-nav a:before { line-height:38px; color: #e0e0d7; font-family:Fontello; font-size:inherit; }
.sc_scroll_controls ul.flex-direction-nav a.flex-prev { right: 42px; }
.sc_scroll_controls ul.flex-direction-nav a.flex-next { right: 0; }

.sc_scroll_controls.sc_scroll_controls_type_side { padding-left: 40px; padding-right: 40px; }
.sc_scroll_controls.sc_scroll_controls_type_side ul.flex-direction-nav { position: static; overflow:visible; width:0; height: 0; }
.sc_scroll_controls.sc_scroll_controls_type_side ul.flex-direction-nav a { top: 50%; margin-top:-18px;}
.sc_scroll_controls.sc_scroll_controls_type_side ul.flex-direction-nav a.flex-prev { left: 0; right: auto;}
.sc_scroll_controls.sc_scroll_controls_type_side ul.flex-direction-nav a.flex-next { right: 0;}

.bg_tint_dark .sc_scroll_controls.sc_scroll_controls_type_side ul.flex-direction-nav a:before { color: rgba(255,255,255,0.6); }
.bg_tint_dark .sc_scroll_controls.sc_scroll_controls_type_side ul.flex-direction-nav a:hover:before { color: #ffffff; }

/*=Section==================================================================================================================================================================*/

.sc_section:not(.sc_scroll_controls) { overflow: hidden; }
.sc_section.bg_tint_dark,
.sc_section.bg_tint_dark a { color: #ffffff; }

.sc_subsection {overflow: hidden; font-weight: 300; font-size: 18px; line-height: 30px; color: #818175;}

.sc_section_style_1 {border:1px dashed #ddd; padding: 20px; background-color:#fafafa; font-weight:400;}
.sc_section_style_2 {border:1px dotted #d0dfca; padding: 20px; background-color:#f0ffda; color: #61763f; font-weight:400; font-style: italic;}

.sc_pan { position:absolute; width:100%; box-sizing: border-box; -moz-box-sizing: border-box; }
/*
.sc_pan_vertical { cursor: n-resize; }
.sc_pan_horizontal { cursor:e-resize; }
*/
.sc_pan_vertical,
.sc_pan_horizontal { cursor: all-scroll; }


/*=Skills==================================================================================================================================================================*/

.sc_skills { width: 100%; }

/*skills Percent*/
.sc_skills_percent .skillsWrap{ text-align:center; }
.sc_skills_percent .skillsWrap:after{ content:''; height:0; display:block; clear:both;}
.sc_skills_percent .skillsWrap .sc_skills_item{ display: inline-block; text-align:center;}
.sc_skills_percent .skillsWrap .sc_skills_item .sc_skills_count{ font-size:72px; line-height:60px; height:93px; font-weight:100;}
.sc_skills_percent .skillsWrap .sc_skills_item .sc_skills_count .sc_skills_total:after{ content:'%';}
.sc_skills_percent .skillsWrap .sc_skills_item .sc_skills_info{ font-size:18px; font-weight:300;}

.sc_skills_percent .skillsWrap.sc_slillsVertical .sc_skillsColumns{ float: none; }

.sc_skills_percent .skillsWrap.sc_slillsHorizontal .sc_skillsColumns{ padding:0 0 50px 0;  margin: 0 auto;}
.sc_skills_percent .skillsWrap.sc_slillsHorizontal .sc_skillsColumns:after{ content: ''; height: 0; display: block; clear: both;}
.sc_skills_percent .skillsWrap.sc_slillsHorizontal .sc_skillsColumns .sc_skills_item{ }
.sc_skills_percent .skillsWrap.sc_slillsHorizontal .sc_skillsColumns .sc_skills_info{ }

/*skills bar*/
.sc_skills_bar { padding: 0 0 50px 0;}
.sc_skills_bar.no_padding {padding: 0;}
.sc_skills_bar .sc_skills_item {
	background: none repeat scroll 0 0 #fff;
	border: 0;
	border-radius: 0 !important;
	font-size: 0;
	height: 0;
	margin: 0 0 33px;
	position: relative;
}
.sc_skills_bar .sc_skills_item.sc_skills_style_1 {
	margin: 0 0 20px;
}
.sc_skills_bar .sc_skills_item .sc_skills_count {
	background-color: #000000;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	text-align:right; width:0; height:1px; line-height:1px; border-width:0; color:#000000;  position:absolute; left:-1px; top:-1px; z-index:2;}
.sc_skills_bar .sc_skills_info {
	display: inline-block;
	font-size: 16px;
	letter-spacing: 0.25px;
	line-height: 16px;
	padding: 0 0 10px;
	width: 49%;
}
.sc_skills_vertical .sc_skills_style_1+.sc_skills_info {
	display:block !important;
	width: 100% !important;
}
.sc_skills_bar .sc_skills_info + .sc_skills_info {text-align: right;}
.sc_skills_vertical .sc_skills_style_1 + .sc_skills_info + .sc_skills_info {display: none !important;}
.sc_skills_bar.sc_skills_vertical .sc_skills_columns .sc_skills_item { height: 500px; position: relative; }
.sc_skills_bar.sc_skills_vertical .sc_skills_columns .sc_skills_item .sc_skills_count { width: 100%; height: auto; position: absolute; top: auto; bottom: -1px; }
.sc_skills_bar.sc_skills_vertical .sc_skills_columns .sc_skills_total { text-align: center; font-size: 20px; width: 100%; line-height: 100px; font-weight: 100; }
.sc_skills_bar.sc_skills_vertical .sc_skills_columns .sc_skills_column { text-align:center; }

.sc_skills_bar.sc_skills_horizontal .sc_skills_total { text-align: right; padding-right: 10px; }


/*skills diagram*/
.sc_skills_arc { padding:0; overflow:hidden; }
.sc_skills_arc .sc_skills_legend { width:30%; float:left;}
.sc_skills_arc .sc_skills_legend ul { margin:0; padding:0; text-align:center; overflow:hidden; }
.sc_skills_arc .sc_skills_legend li { display: block; float: left; clear:both; list-style:none; margin:0 0 10px 0; padding:0;  padding:0 15px; height:30px; line-height:30px; color:#fff; font-size:16px; font-weight:300;}
.sc_skills_arc  .sc_skills_arc_canvas { max-width: 70%; min-width:100px; min-height:100px; float:left;}

/*pie chart*/
.sc_skills_pie { text-align: center; display: inline-block;}
.sc_skills_pie .sc_skills_total { font-size: 18px;}
.sc_skills_pie .sc_skills_info { font-size: 16px; font-weight: 100;}

/*counter*/
.sc_skills_counter{  text-align: center; }
.sc_skills_counter .sc_skills_item { text-align: center; display: inline-block; padding: 0 10px; margin: 0 0 50px 0;}
.sc_skills_counter .sc_skills_item .sc_skills_count { font-size: 76px; line-height: 78px; margin: 0 0 10px 0;}
.sc_skills_counter .sc_skills_item .sc_skills_info { color: #222; font-size: 18px; font-weight: 300; line-height: 24px; padding: 0 0 10px 0;}
.sc_skills_counter .sc_skills_item.sc_skills_style_1 .sc_skills_count { font-weight: 900;}
.sc_skills_counter .sc_skills_item.sc_skills_style_2 .sc_skills_count { font-weight: 100;}
.sc_skills_counter .sc_skills_item.sc_skills_style_3 .sc_skills_count { font-weight: 100; color:#fff;  padding: 0 10px; position: relative; overflow: hidden; font-size: 60px; height: 80px; line-height: 80px; }
.sc_skills_counter .sc_skills_item.sc_skills_style_3 .sc_skills_count:before{ content: ''; width: 0; height: 0; position: absolute; top: 0; left: 0;
    border-top: 80px solid #fff; 
    border-right: 100px solid transparent;	
	opacity: 0.2;
	filter: alpha(opacity=20);
/*	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"; */
}
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_count { font-weight: 100; color:#fff; padding: 0 10px; margin: 0; font-size: 60px; line-height: 80px ; height: 80px;}
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info{ color: #fff; padding:  10px; position: relative; border-top: 1px solid #fff; font-size: 16px;}
.sc_skills_counter .sc_skills_item.sc_skills_style_4 .sc_skills_info:before { position: absolute; top: 0; left: 0; content: ''; background: #000; z-index: 2; width: 100%; height: 100%;  
	opacity: 0.1;			
	filter: alpha(opacity=10);
/*	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)"; */
}

/*=Title==================================================================================================================================================================*/
.sc_undertitle {color: #1a1a1a; font-weight: 300; letter-spacing: 8px;}
.sc_undertitle_style_2 {font-weight:300;font-size:18px;line-height:30px;color: #818175;}
.sc_title_bold {font-weight:600;}
.sc_title_style_2{font: bold 36px/45px 'Hind', sans-serif; color: #fff;}
.sc_title_style_2 .wpb_wrapper p {padding-bottom: 6px;}
#timeline_slider > .sc_title {font-size: 32px;}
.sc_title_underline { overflow: hidden; padding-bottom:15px; }
.sc_title_underline:after { content:''; display:block; margin-top:15px; border-top: 1px solid #888888; height:0; width:15px; }
.sc_title_icon_animated {position: relative;	}
a .sc_title_iconed {
	color: #000000 !important;
	font: 600 24px/28px 'Roboto',sans-serif;
	padding-bottom: 15px;
}
.sc_title_icon {
	display: block;
	width: 70px;
	height: 80px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
}
.sc_title_icon.sc_bg_animated {
	height: 120px;
	overflow: visible;
	width: 120px;
}
.sc_title_icon.sc_size_small.sc_bg_animated {
	height: 40px;
	overflow: visible;
	width: 40px;
}
.sc_title_icon.sc_size_large.sc_bg_animated {
	height: 130px;
	overflow: visible;
	width: 130px;
}
.sc_title_icon.sc_size_huge.sc_bg_animated {
	height: 180px;
	overflow: visible;
	width: 180px;
}
.sc_title_icon.sc_size_big.sc_bg_animated {
	height: 160px;
	overflow: visible;
	width: 140px;
}
.sc_title_icon:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 50px;
	display: block;
	height: 70px;
	line-height: 70px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0; left: 0; bottom: 0;	right: 0;
	text-align: center;
	text-indent: 0;
	vertical-align: middle;
	width: 70px;
	z-index: 2;
}
.sc_title_icon.sc_bg_animated:before {
	height: 120px;
	line-height: 120px;
	margin:0 auto;
	width: 120px;
}
.sc_title_icon.sc_size_small.sc_bg_animated:before {
	height: 40px;
	line-height: 40px !important;
	margin:0 auto;
	width: 40px;
}
.sc_title_icon.sc_size_huge.sc_bg_animated:before {
	height: 180px;
	line-height: 180px !important;
	margin:0 auto;
	width: 180px;
}
.sc_title_icon.sc_size_large.sc_bg_animated:before {
	height: 120px;
	line-height: 120px !important;
	margin:0 auto;
	width: 120px;
}
.sc_title_icon.sc_size_big.sc_bg_animated:before {
	height: 140px;
	line-height: 140px !important;
	margin:0 auto;
	width: 140px;
}

a:hover .sc_section .sc_title_icon.sc_bg_animated:before {font-size: 70px;}
a:hover .sc_section .sc_title_icon.sc_size_small.sc_bg_animated:before {font-size: 20px;}
a:hover .sc_section .sc_title_icon.sc_size_big.sc_bg_animated:before {font-size: 110px;}
a:hover .sc_section .sc_title_icon.sc_size_huge.sc_bg_animated:before {font-size: 140px;}
a:hover .sc_section .sc_title_icon.sc_size_large.sc_bg_animated:before {font-size: 80px;}

a:hover .sc_section + .sc_section {color: #373737;}
.sc_title_icon.sc_bg_animated:after {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	background: #f1f1f1;
	border-radius: 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	content: '';
	display: block;
	font-size: 50px;
	height: 80px;
	line-height: 120px;
	margin: 20px auto 0;
	padding: 0;
	text-align: center;
	text-indent: 0;
	vertical-align: middle;
	width: 80px;
	position: absolute;
	top: 0; left: 0;right: 0;
	-webkit-transform: rotate(45deg) scale(1);
	-moz-transform: rotate(45deg) scale(1);
	transform: rotate(45deg) scale(1);
	z-index: 1;
}
.sc_title_icon.sc_size_small.sc_bg_animated:after {
	 height: 30px;
	 line-height: 30px;
	 margin-top: 5px;
	 width: 30px;
 }
.sc_title_icon.sc_size_big.sc_bg_animated:after {
	height: 120px;
	line-height: 120px;
	margin-top: 10px;
	width: 120px;
}
.sc_title_icon.sc_size_large.sc_bg_animated:after {
	height: 100px;
	line-height: 100px;
	margin-top: 10px;
	width: 100px;
}
.sc_title_icon.sc_size_huge.sc_bg_animated:after {
	height: 160px;
	line-height: 160px;
	margin-top: 10px;
	width: 160px;
}
.sc_title_icon_animated:hover .sc_title_icon.sc_bg_animated:after,
a:hover .sc_section .sc_title_icon.sc_bg_animated:after {
	-webkit-transform: scale(0.01) rotate(135deg);
	-moz-transform: scale(0.01) rotate(135deg);
	transform: scale(0.01) rotate(135deg);
	z-index: 0;
}
.sc_title_icon.sc_size_large {  font-size: 70px; width:70px; }
.sc_title_icon.sc_size_large:before {  font-size: 70px; width:70px; }
.sc_title_icon.sc_size_big {  font-size: 90px; width:90px; height: 90px; }
.sc_title_icon.sc_size_big:before {  font-size: 90px; width:90px; height:90px; line-height:90px; }
.sc_title_icon.sc_size_huge {  width: 150px; height: auto; }
.sc_title_icon.sc_size_huge:before {  font-size: 120px; line-height:120px; width: 120px; height:120px; margin: 0 auto;}

.sc_title_icon.sc_title_bg:not(.sc_bg_animated):before { color: #fff; font-size: 40px; }
.userHeaderSection .sc_title_icon:before {color: #b9b9aa;}
.bg_tint_dark .sc_title_icon:before { color:#fff; }

.sc_title_top { margin: 0 auto 10px; }
.sc_title_left { float: left; margin: 0 20px 10px 0; }
.sc_title_right { float: right; margin: 0 0 10px 20px; }

h1.sc_title .sc_title_icon, .h1.sc_title .sc_title_icon,
h1.sc_title .sc_title_image, .h1.sc_title .sc_title_image { width: 64px; height: 64px;}
h2.sc_title .sc_title_icon, .h2.sc_title .sc_title_icon,
h2.sc_title .sc_title_image, .h2.sc_title .sc_title_image { width: 52px; height: 52px;}
h3.sc_title .sc_title_icon, .h3.sc_title .sc_title_icon,
h3.sc_title .sc_title_image, .h3.sc_title .sc_title_image { width: 39px; height: 39px;}
h4.sc_title .sc_title_icon, .h4.sc_title .sc_title_icon,
h4.sc_title .sc_title_image, .h4.sc_title .sc_title_image { width: 32px; height: 32px;}
h5.sc_title .sc_title_icon, .h5.sc_title .sc_title_icon,
h5.sc_title .sc_title_image, .h5.sc_title .sc_title_image { width: 24px; height: 24px;}
h6.sc_title .sc_title_icon, .h6.sc_title .sc_title_icon,
h6.sc_title .sc_title_image, .h6.sc_title .sc_title_image { width: 22px; height: 22px;}

h1.sc_title .sc_title_icon:before, .h1.sc_title .sc_title_icon:before { width: 64px; height: 64px; font-size: 61px; line-height: 74px;}
h2.sc_title .sc_title_icon:before, .h2.sc_title .sc_title_icon:before { width: 52px; height: 52px; font-size: 50px; line-height: 54px;}
h3.sc_title .sc_title_icon:before, .h3.sc_title .sc_title_icon:before { width: 39px; height: 39px; font-size: 36px; line-height: 36px;}
h4.sc_title .sc_title_icon:before, .h4.sc_title .sc_title_icon:before { width: 32px; height: 32px; font-size: 30px; line-height: 30px;}
h5.sc_title .sc_title_icon:before, .h5.sc_title .sc_title_icon:before { width: 24px; height: 24px; font-size: 20px; line-height: 22px;}
h6.sc_title .sc_title_icon:before, .h6.sc_title .sc_title_icon:before { width: 22px; height: 22px; font-size: 16px; line-height: 20px;}

h1.sc_title .sc_title_icon.sc_title_bg:before, .h1.sc_title .sc_title_icon.sc_title_bg:before { font-size: 49px; line-height: 74px; }
h2.sc_title .sc_title_icon.sc_title_bg:before, .h2.sc_title .sc_title_icon.sc_title_bg:before { font-size: 38px; line-height: 54px; }
h3.sc_title .sc_title_icon.sc_title_bg:before, .h3.sc_title .sc_title_icon.sc_title_bg:before { font-size: 23px; line-height: 44px; }
h4.sc_title .sc_title_icon.sc_title_bg:before, .h4.sc_title .sc_title_icon.sc_title_bg:before { font-size: 18px; line-height: 32px; }
h5.sc_title .sc_title_icon.sc_title_bg:before, .h5.sc_title .sc_title_icon.sc_title_bg:before { font-size: 16px; line-height: 22px; }
h6.sc_title .sc_title_icon.sc_title_bg:before, .h6.sc_title .sc_title_icon.sc_title_bg:before { font-size: 14px; line-height: 20px; }

.sc_title_image { display:block; text-align: center; max-width:60px; }
.sc_title_image.sc_size_small { max-width:30px; }
.sc_title_left.sc_title_image.sc_size_small { margin-right:10px; }
.sc_title_image.sc_size_medium { max-width:60px; }
.sc_title_image.sc_size_large { max-width:80px; }
.sc_title_image.sc_size_huge { max-width:160px; }

.sc_title_divider { position:relative; padding-left: 5ex; padding-right: 5ex; }
.sc_title_divider .sc_title_divider_before,
.sc_title_divider .sc_title_divider_after { display:block; width:4ex; height:2px; background-color:#222222; position:absolute; top: 50%; margin-top:-3px; }
.sc_title_divider .sc_title_divider_before { left:0; }
.sc_title_divider .sc_title_divider_after { right:0; }

/*=Tabs==================================================================================================================================================*/

.sc_tabs { margin:0 0 50px 0;}
.sc_tabs ul.sc_tabs_titles { margin: 0; padding:0;}
.sc_tabs_style_1 ul.sc_tabs_titles { margin: 0 0 -1px 0; }
.sc_tabs ul.sc_tabs_titles:after{ display:block; content:''; height:0; clear:both;}
.sc_tabs ul.sc_tabs_titles li { display:block; float:left; }
.sc_tabs_style_1.height_style_1 .sc_scroll.sc_scroll_vertical {height:230px;}
.sc_tabs_style_1 ul.sc_tabs_titles li a { display:block; padding:8px 13px; border: 1px solid #fff; position:relative; z-index:1; font-weight: 400;}
.sc_tabs_style_1 ul.sc_tabs_titles li.ui-tabs-active a{ border-color: #ddd  #ddd #fff  #ddd; color:#222222; z-index:3;}
.sc_tabs_style_2 ul.sc_tabs_titles li { margin: 0 10px 10px 0; }
.sc_tabs_style_2 ul.sc_tabs_titles li a { display:block; padding:2px 8px; border: 1px solid #ddd; text-transform:uppercase; }
.sc_tabs_style_2 ul.sc_tabs_titles li.ui-tabs-active a { color: #ffffff; border-color:transparent; }

.sc_tabs .sc_tabs_content{ position:relative; z-index:2; display: none;  }
.sc_tabs .sc_tabs_content:after{ content: ''; display: block; height:0; clear:both;  }
.sc_tabs_style_1 .sc_tabs_content{  padding: 25px; border:1px solid #ddd; }
.sc_tabs_style_2 .sc_tabs_content{  padding: 15px 0 25px; }

.sc_tabs .scroll { height:230px; overflow: hidden; }
.sc_tabs .items:after {content:""; display:block; clear:both; height:0; }
.sc_tabs .items h4 { padding:0 0 20px 0;}
.sc_tabs .items p { padding: 0 0 20px 0; line-height:18px;}
.sc_tabs .items + .items  { border-top:1px solid #ddd; padding:20px 0 0 0 ;}
.sc_tabs .items .thumb { width:160px; }
.sc_tabs .items .thumb img { width:100%;}


/*=Line==================================================================================================================================================*/
.sc_line { display: block; clear: both; width: 100%; margin: 0 0 30px 0; height: 0px; border-top-width: 1px; border-style: solid; border-color: #ddd; }
.sc_line.no_margin {margin: 0;}
.sc_line_style_solid_2 {width:48%;border-top-width:2px;border-top-color:#000000;}
.sc_line.sc_line_style_dashed { border-style: dashed; }
.sc_line.sc_line_style_dotted { border-style: dotted; }
.sc_line.sc_line_style_double { height: 4px; border-bottom-width: 1px; }
.sc_line.sc_line_style_shadow { margin: 0; height: 30px; position: relative; overflow: hidden; }
.sc_line.sc_line_style_shadow:after { content:''; position:absolute;  margin:0 50px;  display:block; bottom:33px; height:10px; left:10px; right:10px; z-index:2;
-webkit-box-shadow:0 0 10px rgba(0,0,0,0.3);
   -moz-box-shadow:0 0 10px rgba(0,0,0,0.3);
        box-shadow:0 0 10px rgba(0,0,0,0.3);
    -webkit-border-radius: 100% / 100%; 
       -moz-border-radius: 100% / 100%; 
            border-radius: 100% / 100%;
}


/*=gallery==========================================================================================================================================*/
.sc_gallery .galleryPic { display:block;  width: 100%;}
.sc_gallery h4 { font-size: 1.07em; line-height: 140%; height: 3em; padding:0 0 1em; overflow:hidden;}
.sc_gallery .thumb { width:100%; margin:0 0 1em 0 !important;}
.sc_gallery .thumb img { width:100%; display:block;}


/*=slider==========================================================================================================================================*/
.sc_slider { overflow:hidden; }
.sc_slider ul { padding:0; margin:0; list-style:none; }
.sc_slider.sc_slider_autoheight {
 -webkit-transition: height ease .5s;
    -moz-transition: height ease .5s;
     -ms-transition: height ease .5s;
      -o-transition: height ease .5s;
         transition: height ease .5s; 
}

/* Flex Slider */
.sc_slider_chop .cs-activeSlide { display:block; }
.sc_slider_chop .sc_slider_info_slides { display:none; }
.sc_slider_chop .chop-slide > img,
.sc_slider_chop .chop-slide > a > img { width:100%; }

.sc_slider_flex,
.sc_slider_chop,
.sc_slider_swiper {
	position: relative;
	overflow: hidden;
}
.sc_slider_flex ul.slides,
.sc_slider_chop ul.slides,
.sc_slider_swiper ul.slides {
	overflow: hidden;
	margin: 0;
}
.sc_slider_flex .slides li,
.sc_slider_chop .slides li,
.sc_slider_swiper .slides li {
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
}
.sc_slider_flex:not(.sc_slider_autoheight) .slides li,
.sc_slider_chop:not(.sc_slider_autoheight) .slides li,
.sc_slider_swiper:not(.sc_slider_autoheight) .slides li {
	min-height:200px;	/* old value: 220px; */
}
.columns2_3 .sc_slider_flex:not(.sc_slider_autoheight) .slides li,
.columns2_3 .sc_slider_chop:not(.sc_slider_autoheight) .slides li,
.columns2_3 .sc_slider_swiper:not(.sc_slider_autoheight) .slides li {
	min-height:250px;	/* old value: 300px; */
}
.sc_slider_flex ul.slides li,
.sc_slider_chop ul.slides li,
.sc_slider_swiper ul.slides li {
	list-style: none;
	margin:0;
	position: relative;
}
.sc_slider_swiper ul.slides li {
	position: absolute;
}
.sc_slider_flex ul.slides li:before,
.sc_slider_chop ul.slides li:before,
.sc_slider_swiper ul.slides li:before {
	display:none;
}
.sc_slider_flex ul.slides li,
.sc_slider_chop ul.slides li {
	display: none;
}

/* Prev / Next controls */
/* Dark squares */
.sc_slider_flex ul.flex-direction-nav,
.sc_slider_chop ul.flex-direction-nav,
.sc_slider_swiper ul.flex-direction-nav {
	list-style:none;
	margin: 0;
	position:absolute;
	right:0;
	top:-40px;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
}
.sc_slider_flex:hover ul.flex-direction-nav,
.sc_slider_chop:hover ul.flex-direction-nav,
.sc_slider_swiper:hover ul.flex-direction-nav {
	top: 0;
	-webkit-transition: all ease .5s .5s;
	-moz-transition: all ease .5s .5s;
	-ms-transition: all ease .5s .5s;
	-o-transition: all ease .5s .5s;
	transition: all ease .5s .5s;
}
.sc_slider_flex ul.flex-direction-nav li,
.sc_slider_chop ul.flex-direction-nav li,
.sc_slider_swiper ul.flex-direction-nav li {
	list-style: none;
	display:inline-block;
	width:40px;
	height:40px;
	margin: 0 0 0 1px;
	background-color:rgba(17,114,211,0.8);
}
.sc_slider_flex ul.flex-direction-nav li:before,
.sc_slider_chop ul.flex-direction-nav li:before,
.sc_slider_swiper ul.flex-direction-nav li:before {
	display:none;
}
.sc_slider_flex ul.flex-direction-nav a,
.sc_slider_chop ul.flex-direction-nav a,
.sc_slider_swiper ul.flex-direction-nav a {
	font-size: 24px;
	line-height: 40px;
	display:block;
	width: 40px;
	height:40px;
	text-align:center;
	font-family:Fontello;
	color: #ffffff;
	position:static;
	margin:0;
	opacity:1 !important;
	text-shadow:none;
}
.sc_slider_flex ul.flex-direction-nav .flex-next:before,
.sc_slider_chop ul.flex-direction-nav .flex-next:before,
.sc_slider_swiper ul.flex-direction-nav .flex-next:before {
	font-family:Fontello;
	font-size:inherit;
	line-height:inherit;
	content:'\e826';
}
.sc_slider_flex ul.flex-direction-nav .flex-prev:before,
.sc_slider_chop ul.flex-direction-nav .flex-prev:before,
.sc_slider_swiper ul.flex-direction-nav .flex-prev:before {
	font-family:Fontello;
	font-size:inherit;
	line-height:inherit;
	content:'\e825';
}
.sc_slider_flex ul.flex-direction-nav li,
.sc_slider_chop ul.flex-direction-nav li,
.sc_slider_swiper ul.flex-direction-nav li {
	list-style: none;
	display:inline-block;
	width:40px;
	height:40px;
	margin-left:1px;
}

/* Page controls */

/* White circles with accent hover */
.sc_slider_flex .flex-control-nav,
.sc_slider_chop .flex-control-nav,
.sc_slider_swiper .flex-control-nav {
	list-style:none;
	position: absolute;
	height:12px;
	margin: 0;
	left: 0;
	right: 0;
	bottom: -12px;
	text-align:center;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
}
.sc_slider_flex:hover .flex-control-nav,
.sc_slider_chop:hover .flex-control-nav,
.sc_slider_swiper:hover .flex-control-nav {
	bottom: 20px;
	-webkit-transition: all ease .5s .5s;
	-moz-transition: all ease .5s .5s;
	-ms-transition: all ease .5s .5s;
	-o-transition: all ease .5s .5s;
	transition: all ease .5s .5s;
}
.sc_slider_flex .flex-control-nav li,
.sc_slider_chop .flex-control-nav li,
.sc_slider_swiper .flex-control-nav span {
	list-style:none;
	display:inline-block;
	vertical-align:top;
	list-style: none;
	width: 10px;
	height:10px;
	margin:0 8px 0 0;
	position:relative;
}
.sc_slider_flex .flex-control-nav a,
.sc_slider_chop .flex-control-nav a,
.sc_slider_swiper .flex-control-nav span {
	border-radius:50%;
	background-color:#ffffff;
	border:1px solid transparent;
	cursor:pointer;
}
.sc_slider_flex .flex-control-nav a,
.sc_slider_chop .flex-control-nav a {
	display: block;
	width: 10px;
	height:10px;
	font-size: 0;
	line-height: 0;
}
.sc_slider_flex .flex-control-nav .flex-active,
.sc_slider_chop .flex-control-nav .flex-active,
.sc_slider_swiper .flex-control-nav .swiper-active-switch {
	background-color:transparent;
	border-color:#ffffff;
}
.sc_slider_flex .flex-control-nav a:hover,
.sc_slider_chop .flex-control-nav a:hover,
.sc_slider_swiper .flex-control-nav span:hover {
	background-color:transparent;
	border-color:#ffffff;
}

/* Full pagination - posts titles */
.sc_slider_pagination_area {
	overflow:hidden;
	position:relative;
}

.sc_slider_pagination_area .sc_slider {
	float:left;
}
.sc_slider_pagination_area:not(.sc_slider_pagination_over) .sc_slider {
	max-width:550px;
}
.without_sidebar .sc_slider_pagination_area:not(.sc_slider_pagination_over) .sc_slider {
	max-width:760px;
}
.sc_slider_pagination_area .flex-control-nav.manual {
	float:left;
	width:290px;
	padding-right:10px;
	text-align:left;
	position:static;
}
.without_sidebar .sc_slider_pagination_area .flex-control-nav.manual {
	width:380px;
}
.sc_slider_pagination_over .flex-control-nav.manual {
	width:380px;
	position:absolute;
	left: auto;
	right:-390px;
	top:0;
	bottom:auto;
	padding-right:0;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
}
.sc_slider_pagination_over:hover .flex-control-nav.manual {
	right:0;
}
.post_content .sc_slider_pagination_over .flex-control-nav.manual {
	width:290px;
}
.sc_slider_pagination_area .flex-control-nav.manual ul {
	margin: 0;
	padding:0;
	list-style:none;
}
.sc_slider_pagination_area .flex-control-nav.manual li {
	padding:0 0 0 30px;
	cursor:pointer;
	display:block;
	margin:0;
}
.sc_slider_pagination_area .flex-control-nav.manual li .slide_pager {
	padding:20px 30px 15px 0;
}
.sc_slider_pagination_area .flex-control-nav.manual li + li .slide_pager {
	border-top: 1px solid #efefef;
}
.sc_slider_pagination_area .flex-control-nav.manual li.active,
.sc_slider_pagination_area .flex-control-nav.manual li.cs-active-pagination,
.sc_slider_pagination_area .flex-control-nav.manual li:hover {
	background-color:rgba(192,192,192,0.4);
}

.sc_slider_pagination_over .flex-control-nav.manual li {
	background-color:rgba(255,255,255,0.8);
	padding-left:0;
}
.sc_slider_pagination_over .flex-control-nav.manual li.active,
.sc_slider_pagination_over .flex-control-nav.manual li.cs-active-pagination,
.sc_slider_pagination_over .flex-control-nav.manual li:hover {
	background-color:rgba(192,192,192,0.8);
}
.sc_slider_pagination_over .flex-control-nav.manual li .slide_pager {
	padding-left:30px;
}
.sc_slider_pagination_over .flex-control-nav.manual li + li .slide_pager {
	border-top-color:#cccccc;
}

.sc_slider_pagination_area .flex-control-nav.manual .slide_date {
	float:left;
	width:75px;
	height:30px;
	line-height:30px;
	text-align:center;
	color:#ffffff;
	margin-right: 20px;
}
.sc_slider_pagination_area .flex-control-nav.manual .slide_info {
	overflow:hidden;
}
.sc_slider_pagination_area .flex-control-nav.manual .slide_info .slide_title {
	padding-bottom:0;
	font-size:15px;
}
.sc_slider_pagination_area .flex-control-nav.manual .slide_info .slide_tags {
	font-size:12px;
	font-style:italic;
	line-height:18px;
	color:#272727;
}


/* Info block*/
.sc_slider_flex .sc_slider_info,
.sc_slider_chop .sc_slider_info,
.sc_slider_swiper .sc_slider_info {
	max-width:80%;
	min-width:50%;
	max-height:100px;
	padding:10px;
	overflow:hidden;
	position:absolute;
	right:0;
	bottom:0;
	background-color: rgba(17,114,211,0.8);
	-webkit-transition: all ease .5s .5s;
	-moz-transition: all ease .5s .5s;
	-ms-transition: all ease .5s .5s;
	-o-transition: all ease .5s .5s;
	transition: all ease .5s .5s;
	margin-bottom:0;
}
.sc_slider_pagination_area .sc_slider .sc_slider_info {
	/*left:0;*/
	max-width:100%;
}

.sc_slider .ratingItem span:before {
	color:rgba(255,255,255,0.5);
}

.sc_slider_flex:hover .sc_slider_info.sc_slider_info_fixed,
.sc_slider_flex:hover .sc_slider_info:hover,
.sc_slider_flex .sc_slider_info:hover,
.sc_slider_chop:hover .sc_slider_info.sc_slider_info_fixed,
.sc_slider_chop:hover .sc_slider_info:hover,
.sc_slider_chop .sc_slider_info:hover,
.sc_slider_swiper:hover .sc_slider_info.sc_slider_info_fixed,
.sc_slider_swiper:hover .sc_slider_info:hover,
.sc_slider_swiper .sc_slider_info:hover {
	margin-bottom:0 !important;
}
.sc_slider_flex:hover .sc_slider_info,
.sc_slider_chop:hover .sc_slider_info,
.sc_slider_swiper:hover .sc_slider_info {
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
	margin-bottom:-130px !important;
}
	.sc_slider_flex .slides li .sc_slider_info a,
	.sc_slider_chop .sc_slider_info a,
	.sc_slider_swiper .slides li .sc_slider_info a {
		display:inline;
		min-height:0;
		color:#ffffff;
	}
	.sc_slider_flex .slides li .sc_slider_info a:hover,
	.sc_slider_chop .sc_slider_info a:hover,
	.sc_slider_swiper .slides li .sc_slider_info a:hover {
		color:#cccccc;
	}
	.sc_slider_flex .sc_slider_info .sc_slider_subtitle,
	.sc_slider_chop .sc_slider_info .sc_slider_subtitle,
	.sc_slider_swiper .sc_slider_info .sc_slider_subtitle {
		margin:0;
		padding:0;
		text-transform:uppercase;
		font-size:20px;
		line-height:24px;
		margin:0 0 4px;
	}
	.sc_slider_flex .sc_slider_info .sc_slider_reviews,
	.sc_slider_chop .sc_slider_info .sc_slider_reviews,
	.sc_slider_swiper .sc_slider_info .sc_slider_reviews {
		margin:0 0 4px;
	}
	.sc_slider_flex .sc_slider_info .sc_slider_reviews.after_category,
	.sc_slider_chop .sc_slider_info .sc_slider_reviews.after_category,
	.sc_slider_swiper .sc_slider_info .sc_slider_reviews.after_category {
		display:inline-block;
		position: relative;
		margin:0 0 0 2px;
		top: 3px;
	}
	.sc_slider_flex .sc_slider_info .sc_slider_descr,
	.sc_slider_chop .sc_slider_info .sc_slider_descr,
	.sc_slider_swiper .sc_slider_info .sc_slider_descr {
		color:#ffffff;
		line-height:16px;
	}
	.sc_slider_flex .sc_slider_info .sc_slider_category,
	.sc_slider_chop .sc_slider_info .sc_slider_category,
	.sc_slider_swiper .sc_slider_info .sc_slider_category {
		display:inline-block;
		vertical-align:top;
		text-transform:uppercase;
		position:relative;
		height: 24px;
		line-height:24px;
		padding:0 30px 0 0;
		text-align:left;
		overflow:hidden;
	}
	.sc_slider_pagination_area .sc_slider .sc_slider_info .sc_slider_category {
		min-width:0;
	}
.fullScreenSlider .sc_slider_flex .sc_slider_info,
.fullScreenSlider .sc_slider_chop .sc_slider_info,
.fullScreenSlider .sc_slider_swiper .sc_slider_info,
.sliderHomeBullets .sc_slider_flex .sc_slider_info,
.sliderHomeBullets .sc_slider_chop .sc_slider_info,
.sliderHomeBullets .sc_slider_swiper .sc_slider_info {
	max-width:50%;
	min-width:40%;
	padding:30px;
	max-height:150px;
}
.fullScreenSlider .sc_slider_flex:hover .sc_slider_info,
.fullScreenSlider .sc_slider_chop:hover .sc_slider_info,
.fullScreenSlider .sc_slider_swiper:hover .sc_slider_info,
.sliderHomeBullets .sc_slider_flex:hover .sc_slider_info,
.sliderHomeBullets .sc_slider_chop:hover .sc_slider_info,
.sliderHomeBullets .sc_slider_swiper:hover .sc_slider_info {
	margin-bottom:-180px;
}
.fullScreenSlider .sc_slider_flex:hover .sc_slider_info.sc_slider_info_fixed,
.fullScreenSlider .sc_slider_flex:hover .sc_slider_info:hover,
.fullScreenSlider .sc_slider_flex .sc_slider_info:hover,
.fullScreenSlider .sc_slider_chop:hover .sc_slider_info.sc_slider_info_fixed,
.fullScreenSlider .sc_slider_chop:hover .sc_slider_info:hover,
.fullScreenSlider .sc_slider_chop .sc_slider_info:hover,
.fullScreenSlider .sc_slider_swiper:hover .sc_slider_info.sc_slider_info_fixed,
.fullScreenSlider .sc_slider_swiper:hover .sc_slider_info:hover,
.fullScreenSlider .sc_slider_swiper .sc_slider_info:hover,
.sliderHomeBullets .sc_slider_flex:hover .sc_slider_info.sc_slider_info_fixed,
.sliderHomeBullets .sc_slider_flex:hover .sc_slider_info:hover,
.sliderHomeBullets .sc_slider_flex .sc_slider_info:hover,
.sliderHomeBullets .sc_slider_chop:hover .sc_slider_info.sc_slider_info_fixed,
.sliderHomeBullets .sc_slider_chop:hover .sc_slider_info:hover,
.sliderHomeBullets .sc_slider_chop .sc_slider_info:hover,
.sliderHomeBullets .sc_slider_swiper:hover .sc_slider_info.sc_slider_info_fixed,
.sliderHomeBullets .sc_slider_swiper:hover .sc_slider_info:hover,
.sliderHomeBullets .sc_slider_swiper .sc_slider_info:hover {
	margin-bottom:0;
}
.fullScreenSlider .sc_slider_flex .sc_slider_info .sc_slider_category,
.fullScreenSlider .sc_slider_chop .sc_slider_info .sc_slider_category,
.fullScreenSlider .sc_slider_swiper .sc_slider_info .sc_slider_category,
.sliderHomeBullets .sc_slider_flex .sc_slider_info .sc_slider_category,
.sliderHomeBullets .sc_slider_chop .sc_slider_info .sc_slider_category,
.sliderHomeBullets .sc_slider_swiper .sc_slider_info .sc_slider_category {
	font-size:14px;
	font-weight:300;
}
.fullScreenSlider .sc_slider_flex .sc_slider_info .sc_slider_subtitle,
.fullScreenSlider .sc_slider_chop .sc_slider_info .sc_slider_subtitle,
.fullScreenSlider .sc_slider_swiper .sc_slider_info .sc_slider_subtitle,
.sliderHomeBullets .sc_slider_flex .sc_slider_info .sc_slider_subtitle,
.sliderHomeBullets .sc_slider_chop .sc_slider_info .sc_slider_subtitle,
.sliderHomeBullets .sc_slider_swiper .sc_slider_info .sc_slider_subtitle {
	font-size:21px;
	line-height:28px;
	font-weight:300;
}
.fullScreenSlider .sc_slider_flex .sc_slider_info .sc_slider_descr,
.fullScreenSlider .sc_slider_chop .sc_slider_info .sc_slider_descr,
.fullScreenSlider .sc_slider_swiper .sc_slider_info .sc_slider_descr,
.sliderHomeBullets .sc_slider_flex .sc_slider_info .sc_slider_descr,
.sliderHomeBullets .sc_slider_chop .sc_slider_info .sc_slider_descr,
.sliderHomeBullets .sc_slider_swiper .sc_slider_info .sc_slider_descr {
	font-size:13px;
	line-height:18px;
	font-weight:300;
}


/*=testimonials==========================================================================================================================================*/

.sc_testimonials { position:relative; overflow:hidden; }
.sc_testimonials ul { list-style:none; margin:0; padding:0; }
.sc_testimonials ul li { width: 100%; padding-right: 5px !important; box-sizing: border-box; -moz-box-sizing: border-box; line-height:28px; list-style:none; }

.sc_testimonials .flex-direction-nav a { width: 37px; height: 37px; display: block; position: absolute; z-index: 10; text-align:center; border: 1px solid #ddd; font-size:24px; }
.sc_testimonials .flex-direction-nav a:before { line-height:37px; }

.sc_testimonials_style_1 { position: relative;}
.sc_testimonials_style_1.sc_testimonials_padding { padding: 70px 0 0 0;}
.sc_testimonials_style_1 h2 { position: absolute; top: 0; left: 0; margin: 0; padding: 0; }
.sc_testimonials_style_1 .sc_testimonials_item_quote{ background-color: #eeeeee; padding: 20px; font-weight: 300; font-style: italic; margin: 0 0 20px 0; position: relative;}
.sc_testimonials_style_1 .sc_testimonials_item_quote:before { content: '\201c' ; font-size: 220px; line-height: 150px; width: 100px; height: 58px; display: block; z-index: 1; position: absolute; left: 0; top: 0; z-index: 1; font-family: Georgia, 'Times New Roman', Times, serif; overflow: hidden; color: #e6e4e4;}
.sc_testimonials_style_1 .sc_testimonials_item_quote:after{ content: ''; width: 0; height: 0; border-width: 18px; border-style: solid; border-bottom-color: transparent; border-top-color: transparent; border-left-color: #eeeeee; border-right-color: transparent;  position: absolute; bottom: -18px; left: 50%; margin: 0 0 0 -18px; z-index: -2;}
.sc_testimonials_style_1 .sc_testimonials_item_quote .sc_testimonials_item_text { position: relative; z-index: 2; min-height: 22px;}
.sc_testimonials_style_1 .sc_testimonials_item_author{ padding: 0 0 0 20px;}
.sc_testimonials_style_1 .sc_testimonials_item_author .sc_testimonials_item_avatar { width: 50px; height: 50px; float: left; background-color: #fafafc; }
.sc_testimonials_style_1 .sc_testimonials_item_author .sc_testimonials_item_avatar a{display: block;}
.sc_testimonials_style_1 .sc_testimonials_item_author .sc_testimonials_item_avatar img { width: 100%;}
.sc_testimonials_style_1 .sc_testimonials_item_author .sc_testimonials_item_name { margin: 0 0 0 60px; padding: 4px 0 0 0 ; color: #222222; text-align:left;}
.sc_testimonials_style_1 .sc_testimonials_item_author .sc_testimonials_item_name a{ display: block; color: #222222;}
.sc_testimonials_style_1 .sc_testimonials_item_author .sc_testimonials_item_position { margin: 0 0 0 60px; text-align:left; }
.sc_testimonials_style_1 .flex-direction-nav { position: absolute; top:0; right:0; }
.sc_testimonials_style_1.sc_testimonials_controls_bottom .flex-direction-nav { top:auto;bottom:20px; width:100px; height:45px; }
.sc_testimonials_style_1 .flex-direction-nav a { top: 4px; }
.sc_testimonials_style_1 .flex-direction-nav a.flex-prev { right: 42px;}
.sc_testimonials_style_1 .flex-direction-nav a.flex-next { right: 0;}

.videoBackgroundOverlay .dark .sc_testimonials_style_1 .flex-direction-nav li { background-color: #ffffff; color: #888888; }
.videoBackgroundOverlay .dark .sc_testimonials_style_1 .flex-direction-nav li > a { background-color: #ffffff; color: #888888; }
.videoBackgroundOverlay .dark .sc_testimonials_style_1 .flex-direction-nav li > a:before{ color: #888888;}
.videoBackgroundOverlay .dark .sc_testimonials_style_1 .sc_testimonials_item_quote{ background-color: #ffffff; opacity: 0.7;}
.videoBackgroundOverlay .dark .sc_testimonials_style_1 .sc_testimonials_item_text {color: #373737;}
.videoBackgroundOverlay .dark .sc_testimonials_style_1 .sc_testimonials_item_quote:before { color: #cccccc;}
.videoBackgroundOverlay .dark .sc_testimonials_style_1 .sc_testimonials_item_quote:after{ border-left-color: #ffffff; }
.videoBackgroundOverlay .dark .sc_testimonials_style_1 .sc_testimonials_item_author .sc_testimonials_item_name { color: #ffffff;}
.videoBackgroundOverlay .dark .sc_testimonials_style_1 .sc_testimonials_item_author .sc_testimonials_item_name a{ color: #ffffff;}

/*testimonials full*/
.textured { background-position:center center; }
.sc_testimonials_style_2,
.sc_testimonials_style_3 { position: relative; margin: 0 0 30px 0;}
.sc_testimonials_style_2.no_margin,
.sc_testimonials_style_3.no_margin { margin: 0;}
.sc_testimonials_style_2 .sc_testimonials_items,
.sc_testimonials_style_2,
.sc_testimonials_style_2 .flex-direction-nav li { background-color: transparent;}
.dark .sc_testimonials_style_2,
.dark .sc_testimonials_style_2 .flex-direction-nav li { background-color: transparent;}
.textured .sc_testimonials_style_2 .sc_testimonials_items,
.textured .sc_testimonials_style_2 .sc_testimonials_item,
.textured .sc_testimonials_style_2 .flex-direction-nav li,
.textured .sc_testimonials_style_3 .sc_testimonials_items,
.textured .sc_testimonials_style_3 .sc_testimonials_item,
.textured .sc_testimonials_style_3 .flex-direction-nav li { background-color: transparent; }

.sc_testimonials_style_2 .flex-direction-nav li,
.sc_testimonials_style_3 .flex-direction-nav li { display: block; position: absolute; top: 0; width: 80px; height: 100%; margin:0 !important; z-index:10; }
.sc_testimonials_style_2 .flex-direction-nav li+li,
.sc_testimonials_style_3 .flex-direction-nav li+li { right: 0; left:auto; }
.sc_testimonials_style_2 .flex-direction-nav a,
.sc_testimonials_style_3 .flex-direction-nav a { top: 50%; left:50%; margin:-18px 0 0 -18px; }
.sc_testimonials_style_2 .flex-direction-nav a { background-color: #eeeeee;}
.sc_testimonials_style_3 .flex-direction-nav a { color: #fff; border-color:#fff; }

.sc_testimonials_style_2 .flex-direction-nav a:hover,
.sc_testimonials_style_3 .flex-direction-nav a:hover { background-color: #fff;}
.sc_testimonials_style_2 .flex-direction-nav a:before:active { color: #888888;}

.sc_testimonials_style_2 .sc_testimonials_item_quote,
.sc_testimonials_style_3 .sc_testimonials_item_quote{  font-weight: 400; font-style: normal; position: relative;}
.sc_testimonials_style_2 .sc_testimonials_item_quote:before { color: #e6e4e4;}
.textured .sc_testimonials .sc_testimonials_item_quote:before,
.sc_testimonials_style_3 .sc_testimonials_item_quote:before{ color: rgba(255, 255, 255, 0.1); }
.sc_testimonials_style_2 .sc_testimonials_item_content,
.sc_testimonials_style_3 .sc_testimonials_item_content { padding: 25px 80px; text-align:center; }
.sc_testimonials_style_2 .sc_testimonials_item_quote .sc_testimonials_item_text,
.sc_testimonials_style_3 .sc_testimonials_item_quote .sc_testimonials_item_text { position: relative; z-index: 2; min-height: 22px; }
.sc_testimonials_style_3 .sc_testimonials_item_quote .sc_testimonials_item_text { color: #fff;}
.sc_testimonials_style_2 .sc_testimonials_item_author,
.sc_testimonials_style_3 .sc_testimonials_item_author { display: inline-block;  text-align: left; margin: 27px 0 0 0; padding: 26px 0 0 0  ;  }
.sc_testimonials_style_2 .sc_testimonials_item_author {
	border-top: 0;
	font-size: 35px;
	line-height: 35px;
	max-width: 290px;
	padding-left: 95px;
}
.sc_testimonials_style_3 .sc_testimonials_item_author { border-top: 1px solid rgba(255,255,255,0.2); text-align: center;}
.sc_testimonials_style_2 .sc_testimonials_item_author .sc_testimonials_item_avatar,
.sc_testimonials_style_3 .sc_testimonials_item_author .sc_testimonials_item_avatar {
	background-color: transparent;
	float: left;
	height: 65px;
	margin-left: -95px;
	width: 65px;
}
.sc_testimonials_style_2 .sc_testimonials_item_author .sc_testimonials_item_avatar a,
.sc_testimonials_style_3 .sc_testimonials_item_author .sc_testimonials_item_avatar a{display: block;}
.sc_testimonials_style_2 .sc_testimonials_item_author .sc_testimonials_item_avatar img,
.sc_testimonials_style_3 .sc_testimonials_item_author .sc_testimonials_item_avatar img { width: 100%;}
.sc_testimonials_style_2 .sc_testimonials_item_author .sc_testimonials_item_name { margin: 0 0 0 0; padding: 4px 0 0 0 ; color: #373737;}
.sc_testimonials_style_3 .sc_testimonials_item_author .sc_testimonials_item_name { margin: 0 0 0 0; padding: 4px 0 0 0 ; color: #fff;}
.sc_testimonials_style_2 .sc_testimonials_item_author .sc_testimonials_item_name a{ display: block; color: #373737;}
.sc_testimonials_style_3 .sc_testimonials_item_author .sc_testimonials_item_name a{ display: block; color: #fff;}
.sc_testimonials_style_2 .sc_testimonials_item_author .sc_testimonials_item_position,
.sc_testimonials_style_3 .sc_testimonials_item_author .sc_testimonials_item_position{
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
	margin: 0;
	text-transform: uppercase;
}
.sc_testimonials_style_2 .sc_testimonials_item_author .sc_testimonials_item_position {color: #373737;}
.sc_testimonials_style_3 .sc_testimonials_item_author .sc_testimonials_item_position { color: #fff;
		opacity: 0.5;			
		filter: alpha(opacity=50);
/*		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";	*/
}

.dark .sc_testimonials_style_2 .sc_testimonials_item_author .sc_testimonials_item_position,
.dark .sc_testimonials_style_2 .sc_testimonials_item_author .sc_testimonials_item_name { color: #ffffff;}

.dark .sc_testimonials_style_2 .flex-direction-nav li,
.dark .sc_testimonials_style_2 .sc_testimonials_items { background-color: transparent; }
.dark h1 + .sc_testimonials .sc_testimonials_item_content { padding: 0 80px; }

/*=text slider
=========================================================================================================================================*/

.sc_text_slider .sc_slider_nocontrols .flex-control-nav {display: none;}
.sc_text_slider .sc_slider_swiper .flex-control-nav,
.sc_text_slider .sc_slider_swiper:hover .flex-control-nav { bottom: 0; }

.sc_text_slider .sc_slider { margin: 0 auto 40px; }

.sc_text_slider .sc_slider .flex-control-nav .swiper-active-switch { background-color: transparent; border-color: #c1c3c5; }
.sc_text_slider .sc_slider .flex-control-nav span { background-color: #c1c3c5; border: 1px solid transparent; }

.sc_text_slider .sc_text_slider_item h2 {padding: 0;}


/*=banner==========================================================================================================================================*/

.sc_banner { display: block; position: relative; overflow: hidden;}
.sc_banner:before { content:'';  top: 0; right: 0; bottom: 0; left: 0; position: absolute; z-index: 1; opacity: 0.3;
	-webkit-transition: all 0.1s ease-out;
	   -moz-transition: all 0.1s ease-out;
	    -ms-transition: all 0.1s ease-out;
	     -o-transition: all 0.1s ease-out;
	        transition: all 0.1s ease-out; 

	-webkit-transform: translate(0px, 0px) scale(1, 1); 
	   -moz-transform: translate(0px, 0px) scale(1, 1); 
	     -o-transform: translate(0px, 0px) scale(1, 1); 
	    -ms-transform: translate(0px, 0px) scale(1, 1); 
	        transform: translate(0px, 0px) scale(1, 1);}
.sc_banner:hover:before {  
	-webkit-transform: translate(0px, 0px) scale(0.9, 0.9); 
	   -moz-transform: translate(0px, 0px) scale(0.9, 0.9); 
	     -o-transform: translate(0px, 0px) scale(0.9, 0.9); 
	    -ms-transform: translate(0px, 0px) scale(0.9, 0.9); 
	        transform: translate(0px, 0px) scale(0.9, 0.9); }

.sc_banner .sc_banner_image { width: 100%; display: block;
	-webkit-transition: all 4s ease-out;
	   -moz-transition: all 4s ease-out;
	    -ms-transition: all 4s ease-out;
	     -o-transition: all 4s ease-out;
	        transition: all 4s ease-out; 

	-webkit-transform: translate(0px, 0px) scale(1, 1);
	   -moz-transform: translate(0px, 0px) scale(1, 1);
	     -o-transform: translate(0px, 0px) scale(1, 1);
	    -ms-transform: translate(0px, 0px) scale(1, 1);
	        transform: translate(0px, 0px) scale(1, 1);}
.sc_banner:hover .sc_banner_image {
	-webkit-transform: translate(0px, 0px) scale(1.2, 1.2); 
	   -moz-transform: translate(0px, 0px) scale(1.2, 1.2); 
	     -o-transform: translate(0px, 0px) scale(1.2, 1.2); 
	    -ms-transform: translate(0px, 0px) scale(1.2, 1.2); 
	        transform: translate(0px, 0px) scale(1.2, 1.2); 
}
.sc_banner .sc_banner_title { position: absolute; right: 20px; font-size: 24px; font-weight: 100;  left: 20px; bottom: 50%; text-align: center; color: #fff; z-index: 2;}
.sc_banner .sc_banner_content { position: absolute; font-size: 14px; font-weight: 100; right: 20px; left: 20px; top: 50%; text-align: center; color: #fff; z-index: 2;}
.sc_banner .sc_banner_content:before { content: ''; display: block; width: 40px; height: 1px; background: #fff; margin: 10px auto;}

/*=blogger==========================================================================================================================================*/

.sc_blogger h4 {
	font: bold 24px/36px 'Roboto',sans-serif;
}
.sc_blogger a { color: #151515; }
.sc_blogger .sc_blogger_title { text-align:left; }
.sc_blogger:not(.no_margin) .columnsWrap [class^="columns"] {
	margin-bottom:40px;
}

/*style_date*/

.sc_blogger.style_date .sc_blogger_item{ position: relative; padding: 0;}
.sc_blogger.style_date .sc_blogger_item:after{ clear: both; height: 0; content: ''; display: block;}

.sc_blogger.style_date.sc_blogger_horizontal .sc_blogger_item{ float: left; }
.sc_blogger.style_date.sc_blogger_horizontal:after{ content: ''; height: 0; display: block; clear: both;}
.sc_blogger.style_date.sc_blogger_horizontal .sc_blogger_item{ margin: 0 0 50px 0;}

.sc_blogger.style_date .sc_blogger_item:before{  content: ''; display: block; background: #ddd; position: absolute;  z-index: 1;}
.sc_blogger.style_date.sc_blogger_vertical .sc_blogger_item:before{ width: 1px; height: 100%; left: 40px; top: 0;}
.sc_blogger.style_date.sc_blogger_horizontal .sc_blogger_item:before{ height: 1px; width: 100%; left: 0; top: 40px;}
.sc_blogger.style_date.sc_blogger_horizontal .sc_blogger_item.sc_blogger_item_last:before{ content: none;}
.sc_blogger.style_date.sc_blogger_horizontal .sc_blogger_item .sc_blogger_date{ float: none; margin: 0 0 20px 0;}
.sc_blogger.style_date.sc_blogger_horizontal .sc_blogger_item h4{ margin: 0 50px 0 0 ;}
.sc_blogger.style_date.sc_blogger_horizontal .sc_blogger_item .sc_blogger_info{ margin: 0 50px 0 0 ;}

.sc_blogger.style_date.sc_blogger_vertical .sc_blogger_item + .sc_blogger_item{ padding: 30px 0 0 0 ;}
.sc_blogger.style_date .sc_blogger_item .sc_blogger_date{ width: 78px; height: 78px; border: 1px solid #ddd; float: left; position: relative; z-index: 2; background: #fff; text-align: center; line-height: 21px;}
.sc_blogger.style_date .sc_blogger_item .sc_blogger_date .day_month{ display: block; padding: 17px 0 6px 0; font-size: 18px; font-weight: 300;}
.sc_blogger.style_date .sc_blogger_item .sc_blogger_date .year{ display: block; font-size: 12px; color: #b0b0b0; margin: 0 auto; }
.sc_blogger.style_date .sc_blogger_item .sc_blogger_date .year:before{ width: 33px; display: block; margin: 0 auto 3px auto; content: ''; height: 1px; background-color: rgba(0,0,0,0.1); }
.sc_blogger.style_date .sc_blogger_item h4{ margin: 0 0 0 100px; padding: 0 0 15px 0;}
.sc_blogger.style_date .sc_blogger_item .sc_blogger_info{ margin: 0 0 0 100px; font-weight: 300;}
.sc_blogger.style_date .sc_blogger_item .sc_blogger_info{font-size: 12px; font-style: italic;}
.sc_blogger.style_date .sc_blogger_item .sc_blogger_info .separator{ font-style: normal; padding: 0 5px;}

.sc_blogger.style_date .load_more {  height: 60px; position: relative; }
.sc_blogger.style_date .load_more:before { width: 28px; height: 28px; border: 1px solid #ddd; background: #fff; font-family: "fontello"; content: '\e823'; text-align: center; position: absolute; z-index: 2; bottom: 0; left: 24px;  line-height: 28px; }
.sc_blogger.style_date .load_more:after{ content: ''; display: block; width: 1px; height: 100%; background: #ddd; position: absolute; left: 40px; top: 0; z-index: 1; }

.sc_blogger.sc_blogger_horizontal.style_date.sc_blogger_columns_4 .sc_blogger_item {width: 25%;}

/*style_accordion*/
.sc_blogger.style_accordion .sc_blogger_item{ padding: 0;}
.sc_blogger.style_accordion .sc_blogger_info{ margin: 15px 0 0 0; font-weight: 300;}
.sc_blogger.style_accordion .sc_blogger_info{font-size: 12px; font-style: italic;}
.sc_blogger.style_accordion .sc_blogger_info .separator{ font-style: normal; padding: 0 5px;}

/* style_regular */
.sc_blogger.sc_blogger_vertical.style_regular article:not(.sc_blogger_item_last) {
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:1px solid #ddd;
}
.sc_blogger.sc_blogger_vertical.style_regular .sc_blogger_title + .reviews_summary { padding: 0 0 10px 0; margin-right:10px;}
.sc_blogger.sc_blogger_vertical.style_regular.no_description .reviews_summary { float:left; }
.sc_blogger.sc_blogger_vertical.style_regular .sc_blogger_info{font-size: 12px; line-height:16px; font-style: italic;}

/*style_images*/
.sc_blogger.sc_blogger_vertical.style_image article:not(.sc_blogger_item_last) {
	padding-bottom:30px;
	margin-bottom:30px;
	border-bottom:1px solid #ddd;
}
.sc_tabs_content .sc_blogger.sc_blogger_vertical.style_image article {
	padding-bottom:20px;
	margin-bottom:20px;
}
.sc_tabs_content .sc_blogger p {
	padding-bottom:10px;
}

.sc_blogger.style_image .sc_blogger_title { padding: 0 0 15px 0;}
.sc_blogger.style_image .sc_blogger_title + .reviews_summary { padding: 0 0 10px 0; margin-top:-5px;}
.sc_blogger.style_image.style_image_tiny .reviews_summary { margin-left: 22%; padding-left: 30px; }
.sc_blogger.style_image.style_image_small .reviews_summary { margin-left: 40%; padding-left: 30px; }
.sc_blogger.style_image.style_image_medium .reviews_summary { margin-left: 50%; padding-left: 30px; }

.sc_blogger.style_image .thumb{ width: 100%; }
.sc_blogger.style_image .thumb img{ width: 100%; display: block;}

.sc_blogger.style_image.style_image_tiny .thumb{ width: 22%; float: left; vertical-align: top; margin: 5px 30px 5px 0; }
.sc_blogger.style_image.style_image_small .thumb{ width: 40%; float: left; vertical-align: top; margin: 5px 30px 5px 0; }
.sc_blogger.style_image.style_image_medium .thumb{ width: 50%; float: left; vertical-align: top; margin: 5px 30px 5px 0; }
.sc_blogger.style_image.style_image_large .thumb{ margin: 0 0 20px 0;}
.sc_blogger.style_image .thumb img{ width: 100%; display: block;}


.sc_blogger.style_image .sc_blogger_info { margin-top:20px; }
.sc_blogger .sc_blogger_info .sc_blogger_more{ float: right; margin: -5px 0 0 0;}
.sc_blogger.style_image .sc_blogger_info:before{ content: ''; height: 1px; width: 50px; background: #ddd; display: block; margin: 0 0 20px 0;}
.sc_blogger.style_image .sc_blogger_info .sc_blogger_author{ font-weight: 300;}
.sc_blogger.style_image .sc_blogger_info .sc_blogger_author{font-size: 12px; font-style: italic;}
.sc_blogger.style_image .sc_blogger_info .sc_blogger_author .separator{ font-style: normal; padding: 0 5px;}

/*=parallax==========================================================================================================================================*/

.sc_parallax { position: relative; overflow: hidden; background-repeat:no-repeat; /*background-attachment: fixed;background-size: cover;*/  }
.sc_parallax.dark * { color: #fff;}
.sc_parallax .sc_parallax_content { position: relative; overflow: hidden;  z-index: 2; left:0; top:0; right:0; bottom:0; background-repeat:no-repeat; }
.sc_parallax .sc_parallax_overlay { overflow: hidden; }
.sc_parallax .sc_video_bg_wrapper { position:absolute; z-index: 1; left: 0; top: 0; right:0; bottom:0; }
.sc_parallax video.sc_video_bg { 
	opacity: 0;
	filter: alpha(opacity=0);
/*	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; */
}

/*=content==========================================================================================================================================*/

.sc_content { overflow:hidden; }
.sc_content.main {padding-top: 100px; padding-bottom: 100px;}
.sc_content.main.no_padding_top {padding-top: 0;}
.sc_content.main.no_padding_bottom {padding-bottom: 0;}


/*=popup==========================================================================================================================================*/

.sc_popup {  position: relative; background: #FFF; padding: 24px 20px 20px 20px; width:auto; max-width: 500px;  max-height:600px; margin: 20px auto; border: 1px solid #ddd; overflow-x:hidden; overflow-y:auto; }
.sc_popup:before{ height: 4px; content: ''; position: absolute; width: 100%; top: -1px; left: -1px; display: block; padding: 0 1px;}




/*=zoom==========================================================================================================================================*/

.sc_border .sc_zoom { overflow:hidden; }
