@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?81154683');
  src: url('../font/fontello.eot?81154683#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?81154683') format('woff'),
       url('../font/fontello.ttf?81154683') format('truetype'),
       url('../font/fontello.svg?81154683#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}




/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?81154683#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-th:before { content: '\e800'; } /* 'î €' */
.icon-chart-pie:before { content: '\e801'; } /* 'î ' */
.icon-volume-off-1:before { content: '\e802'; } /* 'î ‚' */
.icon-volume-down-1:before { content: '\e803'; } /* 'î ƒ' */
.icon-volume:before { content: '\e804'; } /* 'î „' */
.icon-volume-up-1:before { content: '\e805'; } /* 'î …' */
.icon-cancel-circled2:before { content: '\e806'; } /* 'î †' */
.icon-cancel-circled:before { content: '\e807'; } /* 'î ‡' */
.icon-search-1:before { content: '\e808'; } /* 'î ˆ' */
.icon-star-1:before { content: '\e809'; } /* 'î ‰' */
.icon-tag:before { content: '\e80a'; } /* 'î Š' */
.icon-tags:before { content: '\e80b'; } /* 'î ‹' */
.icon-doc-inv:before { content: '\e80c'; } /* 'î Œ' */
.icon-key-inv:before { content: '\e80d'; } /* 'î ' */
.icon-star:before { content: '\e80e'; } /* 'î Ž' */
.icon-search:before { content: '\e80f'; } /* 'î ' */
.icon-video:before { content: '\e810'; } /* 'î ' */
.icon-cancel-1:before { content: '\e811'; } /* 'î ‘' */
.icon-ok:before { content: '\e812'; } /* 'î ’' */
.icon-plus:before { content: '\e813'; } /* 'î “' */
.icon-minus:before { content: '\e814'; } /* 'î ”' */
.icon-doc-inv-alt:before { content: '\e815'; } /* 'î •' */
.icon-doc-alt:before { content: '\e816'; } /* 'î –' */
.icon-doc-inv-1:before { content: '\e817'; } /* 'î —' */
.icon-doc:before { content: '\e818'; } /* 'î ˜' */
.icon-popup:before { content: '\e819'; } /* 'î ™' */
.icon-flash:before { content: '\e81a'; } /* 'î š' */
.icon-chart-bar:before { content: '\e81b'; } /* 'î ›' */
.icon-spin5:before { content: '\e81c'; } /* 'î œ' */
.icon-cancel:before { content: '\e81d'; } /* 'î ' */
.icon-star-empty:before { content: '\e81e'; } /* 'î ž' */
.icon-cog:before { content: '\e81f'; } /* 'î Ÿ' */
.icon-reply-all:before { content: '\e820'; } /* 'î  ' */
.icon-reply:before { content: '\e821'; } /* 'î ¡' */
.icon-cw-circle:before { content: '\e822'; } /* 'î ¢' */
.icon-arrows-cw:before { content: '\e823'; } /* 'î £' */
.icon-down-open-big:before { content: '\e824'; } /* 'î ¤' */
.icon-left-open-big:before { content: '\e825'; } /* 'î ¥' */
.icon-right-open-big:before { content: '\e826'; } /* 'î ¦' */
.icon-up-open-big:before { content: '\e827'; } /* 'î §' */
.icon-plus-1:before { content: '\e828'; } /* 'î ¨' */
.icon-minus-1:before { content: '\e829'; } /* 'î ©' */
.icon-plus-circled:before { content: '\e82a'; } /* 'î ª' */
.icon-plus-squared:before { content: '\e82b'; } /* 'î «' */
.icon-minus-circled:before { content: '\e82c'; } /* 'î ¬' */
.icon-minus-squared:before { content: '\e82d'; } /* 'î ­' */
.icon-trophy:before { content: '\e82e'; } /* 'î ®' */
.icon-home:before { content: '\e82f'; } /* 'î ¯' */
.icon-comment-1:before { content: '\e830'; } /* 'î °' */
.icon-chat:before { content: '\e831'; } /* 'î ±' */
.icon-comment-2:before { content: '\e832'; } /* 'î ²' */
.icon-chat-1:before { content: '\e833'; } /* 'î ³' */
.icon-pencil-1:before { content: '\e834'; } /* 'î ´' */
.icon-share:before { content: '\e835'; } /* 'î µ' */
.icon-tools:before { content: '\e836'; } /* 'î ¶' */
.icon-cog-1:before { content: '\e837'; } /* 'î ·' */
.icon-phone:before { content: '\e838'; } /* 'î ¸' */
.icon-heart-1:before { content: '\e839'; } /* 'î ¹' */
.icon-camera:before { content: '\e83a'; } /* 'î º' */
.icon-email:before { content: '\e83b'; } /* 'î »' */
.icon-eye:before { content: '\e83c'; } /* 'î ¼' */
.icon-tag-1:before { content: '\e83d'; } /* 'î ½' */
.icon-github-circled:before { content: '\e83e'; } /* 'î ¾' */
.icon-search-2:before { content: '\e83f'; } /* 'î ¿' */
.icon-youtube-play:before { content: '\e840'; } /* 'î¡€' */
.icon-behance:before { content: '\e841'; } /* 'î¡' */
.icon-skype-1:before { content: '\e842'; } /* 'î¡‚' */
.icon-twitter:before { content: '\e843'; } /* 'î¡ƒ' */
.icon-facebook:before { content: '\e844'; } /* 'î¡„' */
.icon-gplus:before { content: '\e845'; } /* 'î¡…' */
.icon-pinterest:before { content: '\e846'; } /* 'î¡†' */
.icon-tumblr:before { content: '\e847'; } /* 'î¡‡' */
.icon-linkedin:before { content: '\e848'; } /* 'î¡ˆ' */
.icon-dribbble:before { content: '\e849'; } /* 'î¡‰' */
.icon-vimeo:before { content: '\e84a'; } /* 'î¡Š' */
.icon-flickr:before { content: '\e84b'; } /* 'î¡‹' */
.icon-paypal-1:before { content: '\e84c'; } /* 'î¡Œ' */
.icon-evernote-1:before { content: '\e84d'; } /* 'î¡' */
.icon-instagram:before { content: '\e84e'; } /* 'î¡Ž' */
.icon-vkontakte:before { content: '\e84f'; } /* 'î¡' */
.icon-link:before { content: '\e850'; } /* 'î¡' */
.icon-volume-off:before { content: '\e851'; } /* 'î¡‘' */
.icon-volume-down:before { content: '\e852'; } /* 'î¡’' */
.icon-volume-up:before { content: '\e853'; } /* 'î¡“' */
.icon-left-open:before { content: '\e854'; } /* 'î¡”' */
.icon-right-open:before { content: '\e855'; } /* 'î¡•' */
.icon-down:before { content: '\e856'; } /* 'î¡–' */
.icon-left-open-mini:before { content: '\e857'; } /* 'î¡—' */
.icon-right-open-mini:before { content: '\e858'; } /* 'î¡˜' */
.icon-up-open-mini:before { content: '\e859'; } /* 'î¡™' */
.icon-down-open-mini:before { content: '\e85a'; } /* 'î¡š' */
.icon-left-open-1:before { content: '\e85b'; } /* 'î¡›' */
.icon-right-open-1:before { content: '\e85c'; } /* 'î¡œ' */
.icon-down-open:before { content: '\e85d'; } /* 'î¡' */
.icon-up-open:before { content: '\e85e'; } /* 'î¡ž' */
.icon-left:before { content: '\e85f'; } /* 'î¡Ÿ' */
.icon-right:before { content: '\e860'; } /* 'î¡ ' */
.icon-up:before { content: '\e861'; } /* 'î¡¡' */
.icon-down-dir:before { content: '\e862'; } /* 'î¡¢' */
.icon-left-dir:before { content: '\e863'; } /* 'î¡£' */
.icon-right-dir:before { content: '\e864'; } /* 'î¡¤' */
.icon-up-dir:before { content: '\e865'; } /* 'î¡¥' */
.icon-down-bold:before { content: '\e866'; } /* 'î¡¦' */
.icon-left-bold:before { content: '\e867'; } /* 'î¡§' */
.icon-right-bold:before { content: '\e868'; } /* 'î¡¨' */
.icon-up-bold:before { content: '\e869'; } /* 'î¡©' */
.icon-down-thin:before { content: '\e86a'; } /* 'î¡ª' */
.icon-left-thin:before { content: '\e86b'; } /* 'î¡«' */
.icon-right-thin:before { content: '\e86c'; } /* 'î¡¬' */
.icon-up-thin:before { content: '\e86d'; } /* 'î¡­' */
.icon-to-end:before { content: '\e86e'; } /* 'î¡®' */
.icon-to-start:before { content: '\e86f'; } /* 'î¡¯' */
.icon-to-start-1:before { content: '\e870'; } /* 'î¡°' */
.icon-to-end-1:before { content: '\e871'; } /* 'î¡±' */
.icon-to-start-alt:before { content: '\e872'; } /* 'î¡²' */
.icon-to-start-2:before { content: '\e873'; } /* 'î¡³' */
.icon-to-end-alt:before { content: '\e874'; } /* 'î¡´' */
.icon-to-end-2:before { content: '\e875'; } /* 'î¡µ' */
.icon-pause:before { content: '\e876'; } /* 'î¡¶' */
.icon-stop:before { content: '\e877'; } /* 'î¡·' */
.icon-fast-fw:before { content: '\e878'; } /* 'î¡¸' */
.icon-fast-bw:before { content: '\e879'; } /* 'î¡¹' */
.icon-eject:before { content: '\e87a'; } /* 'î¡º' */
.icon-play:before { content: '\e87b'; } /* 'î¡»' */
.icon-beaker:before { content: '\e87c'; } /* 'î¡¼' */
.icon-diamond:before { content: '\e87d'; } /* 'î¡½' */
.icon-mobile:before { content: '\e87e'; } /* 'î¡¾' */
.icon-megaphone:before { content: '\e87f'; } /* 'î¡¿' */
.icon-wrench:before { content: '\e880'; } /* 'î¢€' */
.icon-code:before { content: '\e881'; } /* 'î¢' */
.icon-logout:before { content: '\e882'; } /* 'î¢‚' */
.icon-basket:before { content: '\e883'; } /* 'î¢ƒ' */
.icon-globe:before { content: '\e884'; } /* 'î¢„' */
.icon-user:before { content: '\e885'; } /* 'î¢…' */
.icon-login:before { content: '\e886'; } /* 'î¢†' */
.icon-lock:before { content: '\e887'; } /* 'î¢‡' */
.icon-attach:before { content: '\e888'; } /* 'î¢ˆ' */
.icon-menu:before { content: '\e889'; } /* 'î¢‰' */
.icon-help:before { content: '\e88a'; } /* 'î¢Š' */
.icon-info:before { content: '\e88b'; } /* 'î¢‹' */
.icon-check:before { content: '\e88c'; } /* 'î¢Œ' */
.icon-brush:before { content: '\e88d'; } /* 'î¢' */
.icon-quote:before { content: '\e88e'; } /* 'î¢Ž' */
.icon-trash-1:before { content: '\e88f'; } /* 'î¢' */
.icon-th-list:before { content: '\e890'; } /* 'î¢' */
.icon-24h:before { content: '\e891'; } /* 'î¢‘' */
.icon-earth:before { content: '\e892'; } /* 'î¢’' */
.icon-gift:before { content: '\e893'; } /* 'î¢“' */
.icon-money:before { content: '\e894'; } /* 'î¢”' */
.icon-pencil:before { content: '\e895'; } /* 'î¢•' */
.icon-key:before { content: '\e896'; } /* 'î¢–' */
.icon-dot:before { content: '\e897'; } /* 'î¢—' */
.icon-doc-1:before { content: '\e898'; } /* 'î¢˜' */
.icon-heart:before { content: '\e899'; } /* 'î¢™' */
.icon-search-3:before { content: '\e89a'; } /* 'î¢š' */
.icon-mail:before { content: '\e89b'; } /* 'î¢›' */
.icon-user-1:before { content: '\e89c'; } /* 'î¢œ' */
.icon-videocam:before { content: '\e89d'; } /* 'î¢' */
.icon-camera-1:before { content: '\e89e'; } /* 'î¢ž' */
.icon-photo:before { content: '\e89f'; } /* 'î¢Ÿ' */
.icon-trash:before { content: '\e8a0'; } /* 'î¢ ' */
.icon-globe-1:before { content: '\e8a1'; } /* 'î¢¡' */
.icon-cd:before { content: '\e8a2'; } /* 'î¢¢' */
.icon-desktop:before { content: '\e8a3'; } /* 'î¢£' */
.icon-sound:before { content: '\e8a4'; } /* 'î¢¤' */
.icon-params:before { content: '\e8a5'; } /* 'î¢¥' */
.icon-money-1:before { content: '\e8a6'; } /* 'î¢¦' */
.icon-attach-1:before { content: '\e8a7'; } /* 'î¢§' */
.icon-lock-1:before { content: '\e8a8'; } /* 'î¢¨' */
.icon-eye-1:before { content: '\e8a9'; } /* 'î¢©' */
.icon-thumbs-up:before { content: '\e8aa'; } /* 'î¢ª' */
.icon-comment:before { content: '\e8ab'; } /* 'î¢«' */
.icon-note:before { content: '\e8ac'; } /* 'î¢¬' */
.icon-cloud:before { content: '\e8ad'; } /* 'î¢­' */
.icon-fire:before { content: '\e8ae'; } /* 'î¢®' */
.icon-star-2:before { content: '\e8af'; } /* 'î¢¯' */
.icon-user-md:before { content: '\e8b0'; } /* 'î¢°' */
.icon-stethoscope:before { content: '\e8b1'; } /* 'î¢±' */
.icon-ambulance:before { content: '\e8b2'; } /* 'î¢²' */
.icon-shopping63:before { content: '\e8b3'; } /* 'î¢³' */
.icon-eyes2:before { content: '\e8b4'; } /* 'î¢´' */
.icon-scissor8:before { content: '\e8b5'; } /* 'î¢µ' */
.icon-medkit:before { content: '\e8b6'; } /* 'î¢¶' */
.icon-h-sigh:before { content: '\e8b7'; } /* 'î¢·' */
.icon-smile:before { content: '\e8b8'; } /* 'î¢¸' */
.icon-hospital:before { content: '\e8b9'; } /* 'î¢¹' */
.icon-wrench-1:before { content: '\e8ba'; } /* 'î¢º' */
.icon-gauge:before { content: '\e8bb'; } /* 'î¢»' */
.icon-swimming:before { content: '\e8bc'; } /* 'î¢¼' */
.icon-tennis:before { content: '\e8bd'; } /* 'î¢½' */
.icon-soccer:before { content: '\e8be'; } /* 'î¢¾' */
.icon-pitch:before { content: '\e8bf'; } /* 'î¢¿' */
.icon-basketball:before { content: '\e8c0'; } /* 'î£€' */
.icon-baseball:before { content: '\e8c1'; } /* 'î£' */
.icon-skiing:before { content: '\e8c2'; } /* 'î£‚' */
.icon-bicycle:before { content: '\e8c3'; } /* 'î£ƒ' */
.icon-cricket:before { content: '\e8c4'; } /* 'î£„' */
.icon-embassy:before { content: '\e8c5'; } /* 'î£…' */
.icon-football:before { content: '\e8c6'; } /* 'î£†' */
.icon-golf:before { content: '\e8c7'; } /* 'î£‡' */
.icon-paper-plane:before { content: '\e8c8'; } /* 'î£ˆ' */
.icon-graduation-cap:before { content: '\e8c9'; } /* 'î£‰' */
.icon-iconmonstr-home-6-icon:before { content: '\e8ca'; } /* 'î£Š' */
.icon-book-open:before { content: '\e8cb'; } /* 'î£‹' */
.icon-docs:before { content: '\e8cc'; } /* 'î£Œ' */
.icon-map:before { content: '\e8cd'; } /* 'î£' */
.icon-gauge-1:before { content: '\e8ce'; } /* 'î£Ž' */
.icon-docs-1:before { content: '\e8cf'; } /* 'î£' */
.icon-doc-2:before { content: '\e8d0'; } /* 'î£' */
.icon-doc-text:before { content: '\e8d1'; } /* 'î£‘' */
.icon-file-image:before { content: '\e8d2'; } /* 'î£’' */
.icon-file-video:before { content: '\e8d3'; } /* 'î£“' */
.icon-file-audio:before { content: '\e8d4'; } /* 'î£”' */
.icon-file-code:before { content: '\e8d5'; } /* 'î£•' */
.icon-file-archive:before { content: '\e8d6'; } /* 'î£–' */
.icon-file-powerpoint:before { content: '\e8d7'; } /* 'î£—' */
.icon-file-excel:before { content: '\e8d8'; } /* 'î£˜' */
.icon-file-word:before { content: '\e8d9'; } /* 'î£™' */
.icon-file-pdf:before { content: '\e8da'; } /* 'î£š' */
.icon-user-2:before { content: '\e8db'; } /* 'î£›' */
.icon-users:before { content: '\e8dc'; } /* 'î£œ' */
.icon-male:before { content: '\e8dd'; } /* 'î£' */
.icon-female:before { content: '\e8de'; } /* 'î£ž' */
.icon-video-1:before { content: '\e8df'; } /* 'î£Ÿ' */
.icon-videocam-1:before { content: '\e8e0'; } /* 'î£ ' */
.icon-picture:before { content: '\e8e1'; } /* 'î£¡' */
.icon-th-large:before { content: '\e8e2'; } /* 'î£¢' */
.icon-lock-open:before { content: '\e8e3'; } /* 'î££' */
.icon-lock-open-alt:before { content: '\e8e4'; } /* 'î£¤' */
.icon-heart-empty:before { content: '\e8e5'; } /* 'î£¥' */
.icon-signal:before { content: '\e8e6'; } /* 'î£¦' */
.icon-battery:before { content: '\e8e7'; } /* 'î£§' */
.icon-tape:before { content: '\e8e8'; } /* 'î£¨' */
.icon-picasa:before { content: '\e8e9'; } /* 'î£©' */
.icon-soundcloud:before { content: '\e8ea'; } /* 'î£ª' */
.icon-umbrella:before { content: '\e8eb'; } /* 'î£«' */
.icon-bus:before { content: '\e8ec'; } /* 'î£¬' */
.icon-ferry:before { content: '\e8ed'; } /* 'î£­' */
.icon-airport:before { content: '\e8ee'; } /* 'î£®' */
.icon-cafe:before { content: '\e8ef'; } /* 'î£¯' */
.icon-login-1:before { content: '\e8f0'; } /* 'î£°' */
.icon-logout-1:before { content: '\e8f1'; } /* 'î£±' */
.icon-users-1:before { content: '\e8f2'; } /* 'î£²' */
.icon-thumbs-up-1:before { content: '\e8f3'; } /* 'î£³' */
.icon-thumbs-down:before { content: '\e8f4'; } /* 'î£´' */
.icon-briefcase:before { content: '\e8f5'; } /* 'î£µ' */
.icon-print:before { content: '\e8f6'; } /* 'î£¶' */
.icon-keyboard:before { content: '\e8f7'; } /* 'î£·' */
.icon-vcard:before { content: '\e8f8'; } /* 'î£¸' */
.icon-ccw:before { content: '\e8f9'; } /* 'î£¹' */
.icon-cw:before { content: '\e8fa'; } /* 'î£º' */
.icon-arrows-ccw:before { content: '\e8fb'; } /* 'î£»' */
.icon-shuffle:before { content: '\e8fc'; } /* 'î£¼' */
.icon-switch:before { content: '\e8fd'; } /* 'î£½' */
.icon-loop:before { content: '\e8fe'; } /* 'î£¾' */
.icon-play-1:before { content: '\e8ff'; } /* 'î£¿' */
.icon-stop-1:before { content: '\e900'; } /* 'î¤€' */
.icon-pause-1:before { content: '\e901'; } /* 'î¤' */
.icon-record:before { content: '\e902'; } /* 'î¤‚' */
.icon-fast-forward:before { content: '\e903'; } /* 'î¤ƒ' */
.icon-fast-backward:before { content: '\e904'; } /* 'î¤„' */
.icon-floppy:before { content: '\e905'; } /* 'î¤…' */
.icon-chart-pie-1:before { content: '\e906'; } /* 'î¤†' */
.icon-chart-line:before { content: '\e907'; } /* 'î¤‡' */
.icon-chart-bar-1:before { content: '\e908'; } /* 'î¤ˆ' */
.icon-chart-area:before { content: '\e909'; } /* 'î¤‰' */
.icon-graduation-cap-1:before { content: '\e90a'; } /* 'î¤Š' */
.icon-key-1:before { content: '\e90b'; } /* 'î¤‹' */
.icon-lifebuoy:before { content: '\e90c'; } /* 'î¤Œ' */
.icon-monitor:before { content: '\e90d'; } /* 'î¤' */
.icon-mobile-1:before { content: '\e90e'; } /* 'î¤Ž' */
.icon-trash-2:before { content: '\e90f'; } /* 'î¤' */
.icon-camera-2:before { content: '\e910'; } /* 'î¤' */
.icon-videocam-alt:before { content: '\e911'; } /* 'î¤‘' */
.icon-mobile-2:before { content: '\e912'; } /* 'î¤’' */
.icon-mobile-alt:before { content: '\e913'; } /* 'î¤“' */
.icon-tablet:before { content: '\e914'; } /* 'î¤”' */
.icon-ipod:before { content: '\e915'; } /* 'î¤•' */
.icon-qq:before { content: '\e916'; } /* 'î¤–' */
.icon-dropbox:before { content: '\e917'; } /* 'î¤—' */
.icon-github:before { content: '\e918'; } /* 'î¤˜' */
.icon-stumbleupon:before { content: '\e919'; } /* 'î¤™' */
.icon-lastfm:before { content: '\e91a'; } /* 'î¤š' */
.icon-rdio:before { content: '\e91b'; } /* 'î¤›' */
.icon-spotify-circled:before { content: '\e91c'; } /* 'î¤œ' */
.icon-flattr:before { content: '\e91d'; } /* 'î¤' */
.icon-renren:before { content: '\e91e'; } /* 'î¤ž' */
.icon-sina-weibo:before { content: '\e91f'; } /* 'î¤Ÿ' */
.icon-mixi:before { content: '\e920'; } /* 'î¤ ' */
.icon-google-circles:before { content: '\e921'; } /* 'î¤¡' */
.icon-smashing:before { content: '\e922'; } /* 'î¤¢' */
.icon-sweden:before { content: '\e923'; } /* 'î¤£' */
.icon-db-shape:before { content: '\e924'; } /* 'î¤¤' */
.icon-logo-db:before { content: '\e925'; } /* 'î¤¥' */
.icon-traffic-cone:before { content: '\e926'; } /* 'î¤¦' */
.icon-darts:before { content: '\e927'; } /* 'î¤§' */
.icon-earth15:before { content: '\e928'; } /* 'î¤¨' */
.icon-users2:before { content: '\e929'; } /* 'î¤©' */
.icon-important:before { content: '\e92a'; } /* 'î¤ª' */
.icon-libra4:before { content: '\e92b'; } /* 'î¤«' */
.icon-briefcase-4:before { content: '\e92c'; } /* 'î¤¬' */
.icon-eagle:before { content: '\e92d'; } /* 'î¤­' */
.icon-justice:before { content: '\e92e'; } /* 'î¤®' */
.icon-heart-flag:before { content: '\e92f'; } /* 'î¤¯' */
.icon-search7:before { content: '\e930'; } /* 'î¤°' */
.icon-crutch3:before { content: '\e931'; } /* 'î¤±' */
.icon-handcuffs:before { content: '\e932'; } /* 'î¤²' */
.icon-todoterreno:before { content: '\e933'; } /* 'î¤³' */
.icon-rss:before { content: '\e934'; } /* 'î¤´' */
.icon-shopping185:before { content: '\e935'; } /* 'î¤µ' */
.icon-telephone:before { content: '\e936'; } /* 'î¤¶' */
.icon-medkit-2:before { content: '\e937'; } /* 'î¤·' */
.icon-comment-3:before { content: '\e938'; } /* 'î¤¸' */
.icon-nib:before { content: '\e939'; } /* 'î¤¹' */
.icon-student:before { content: '\e93a'; } /* 'î¤º' */
.icon-location:before { content: '\e93b'; } /* 'î¤»' */
.icon-dollar-1:before { content: '\e93c'; } /* 'î¤¼' */
.icon-help-1:before { content: '\e93d'; } /* 'î¤½' */
.icon-portfolio:before { content: '\e93e'; } /* 'î¤¾' */
.icon-cancel-2:before { content: '\e93f'; } /* 'î¤¿' */
.icon-cancel-3:before { content: '\e940'; } /* 'î¥€' */
.icon-cross97:before { content: '\e941'; } /* 'î¥' */
.icon-arrow395---ÐºÐ¾Ð¿Ð¸Ñ:before { content: '\e942'; } /* 'î¥‚' */
.icon-arrow395:before { content: '\e943'; } /* 'î¥ƒ' */
.icon-construction3:before { content: '\e944'; } /* 'î¥„' */
.icon-electric38:before { content: '\e945'; } /* 'î¥…' */
.icon-faucet1:before { content: '\e946'; } /* 'î¥†' */
.icon-widescreen:before { content: '\e947'; } /* 'î¥‡' */
.icon-wired:before { content: '\e948'; } /* 'î¥ˆ' */
.icon-angle-double-left:before { content: '\e949'; } /* 'î¥‰' */
.icon-angle-double-right:before { content: '\e94a'; } /* 'î¥Š' */